<%= form_for(:user, :url => practice_practice_shares_path(@practice)) do |f| %>
  <%= f.label :email %><br/>
  <%= f.text_field :email, :autocomplete => 'off', :type => 'email' %>
  <%= render :partial => 'shared/external_contact_links' %>
  <p><%= t('practice_shares.share_practice_dialog.select_sadhana_contacts', :sadhana_contacts => "<a href='/contacts/select' onclick=\"popUp(this.href,\'console\',400,400); return false;\" target='_blank'>#{t('practice_shares.dialog_form.sadhana_contacts')}</a>").html_safe %></p>
  <div class='buttons'>
    <%= f.submit t('actions.share'), :class => 'awesome medium blue', :id => 'share_button', :style => '-webkit-appearance:none;' %>
  </div>
<% end %>

<%= javascript_tag do %>
  $('#share_button').click(function(){
    $.ajax({
      type:'post',
      dataType: 'script',
      data: $('#practice_share_dialog form').serialize(),
      url: $('#practice_share_dialog form').attr('action'),
    });
    return false;
  })
<% end %>