<%= render :partial => 'shared/functionalities_slideshow' %>
<div class="page-content">
    <h2><%= t('devise.confirmations.new.title') %></h2>

    <%= form_for(resource_name, resource, :url => confirmation_path(resource_name)) do |f| %>
      <%= f.error_messages %>

      <div class='field'>
        <%= f.label :email %><br/>
        <%= f.text_field :email %>
      </div>

      <p><%= f.submit t('devise.confirmations.new.submit'), :class => 'awesome medium blue'%></p>
    <% end %>

    <%= render :partial => "devise/shared/links" %>
</div>