<div class='time multiple field'>
  <div class="minutes field">
    <%= f.label :minutes %><%= field_help t('practice_technique.help.minutes') %>
    <br/>
    <%= f.text_field :minutes %>
  </div>

  <div class="seconds field">
    <%= f.label :seconds %><%= field_help t('practice_technique.help.seconds') %>
    <br/>
    <%= f.text_field :seconds %>
  </div>

  <div class="compensate field">
    <%= f.label :compensate %><%= field_help t('practice_technique.help.compensate') %>
    <br/>
    <%= f.check_box :compensate %>
  </div>
</div>

<div class="observations field">
  <%= f.label :observations %><%= field_help t('practice_technique.help.observations') %>
  <br/>
  <%= f.text_area :observations %>
</div>