<div class="field">
  <%= f.label :minutes %>
  <br/>
  <%= f.text_field :minutes %>
</div>

<div class="field">
  <%= f.label :seconds %>
  <br/>
  <%= f.text_field :seconds %>
</div>

<div class="field">
  <%= f.label :compensate %>
  <br/>
  <%= f.check_box :compensate %>
</div>