<% if technique_type %>
<% if technique_type.symbol == 'asana' %>
  <%
   grouped_options = [
      [t('techniques.techniques_list.by_family'), [[t('techniques.techniques_list.by_family'), ""]]],
      [t('techniques.techniques_list.by_category'), TechniqueCategory.all.collect {|t| [t.name, t.id]}]
    ]
   selected = @technique_category.present? ? @technique_category.id : nil
  %>
  <%= select_tag "asana_search", grouped_options_for_select(grouped_options, selected) %>
  <%= javascript_tag do %>
    $('#asana_search').change(function(){
      $.ajax({
        type:'get',
        data: { 'symbol': 'asana', 'category_id': this.value },
        dataType: 'html',
        url: '/techniques',
        success: function(data){
          jQuery.jStore.set('asana', data);
          cached_techniques = data;
          $('#asana_techniques_viewport').html(cached_techniques);
          Practices.accordion_draggable($('.ui-tabs-selected a').attr('href'), $('.ui-tabs-selected').attr('primary_technique_type'), $('.ui-tabs-selected').attr('secondary_technique_types'));
          Practices.qs.cache();
        }
      });
    });
  <% end %>
<% end %>
<div id='<%= technique_type.symbol %>_techniques_list' class='techniques-list'>
  <% techniques.each do |technique| %>
    <div class='<%= technique_type.symbol %> technique practice_technique' technique_id='<%= technique.id %>'><%= image_tag technique.photo.url(:thumb, false) %><h3><%= link_to_function technique.name, "$.ajax({type:'get', dataType: 'script', url: '/techniques/#{technique.id}'});" %></h3></div>
  <% end %>
</div>
<div id='technique_dialog' style='display:none'></div>
<%= javascript_tag do %>
  $('#technique_dialog').dialog({
    autoOpen: false,
    modal: true
  });
<% end %>
<% end %>