<%= form_for([:admin, @technique], :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :technique_type %><br />
    <%= f.collection_select :technique_type_id, TechniqueType.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :photo %><br />
    <%= image_tag @technique.photo.url(:medium) if @technique.photo.present? %>
    <%= f.file_field :photo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
