<%= form_for([:admin, @technique], :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :technique_type %><br />
    <%= f.collection_select :technique_type_id, TechniqueType.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :parent %><br />
    <%= f.collection_select :parent_id, Technique.where('parent_id is NULL').all, :id, :name, :include_blank => true %>
  </div>
  <div class="field" id="name_field">
    <%= f.fields_for :translations do |ft| %>
      <%= ft.label :name %> (<%= ft.object.locale %>)<br />
      <%= ft.text_field :name %>
      <%= ft.label :description %> (<%= ft.object.locale %>)<br />
      <%= ft.text_area :description %>

      <% unless ft.object.new_record? %>
        <%= ft.check_box '_destroy' %>
        <%= ft.label '_destroy', 'Remove' %>
      <% end %><br/>
    <% end %>
    <%= link_to_function 'Add translation', "$('#add_translation_link').before('#{ escape_javascript render :partial => 'translation_form', :locals => {:f => f, :translation => @technique.translations.new}}')", :id => 'add_translation_link' %>
  </div>
  <div class="field">
    <%= f.label :photo %><br />
    <%= image_tag @technique.photo.url(:medium) if @technique.photo.present? %>
    <%= f.file_field :photo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
