<%= render :partial => 'shared/functionalities_slideshow' %>
<div class="page-content">
    <h2><%= t('devise.passwords.new.title') %></h2>

    <%= form_for(resource_name, resource, :url => password_path(resource_name)) do |f| %>
      <%= f.error_messages %>

      <div class="field">
        <%= f.label :email %><br/>
        <%= f.text_field :email, :type => 'email' %>
      </div>

      <p><%= f.submit t('devise.passwords.new.submit'), :class => 'awesome medium blue' %></p>
    <% end %>

    <%= render :partial => "devise/shared/links" %>
</div>