<% if current_user.authentications %>
 <% unless current_user.authentications.empty? %>
  <p><strong><%= t('shared.authentications_tab.authentications') %></strong></p>
   <div class="authentications">
    <% current_user.authentications.each do |authentication| %>
     <div class="authentication">
      <%= image_tag "#{authentication.provider}_32.png", :size => "32x32" %>
      <div class="provider"><%= authentication.provider.titleize %></div>
      <div class="uid"><%= authentication.uid %></div>
       <%= link_to "X", authentication, :confirm => t('shared.authentications.confirm_remove'), :method => :delete, :class => "remove" %>
     </div>
     <% end %>
     <div class="clear"></div>
    </div>
   <% end %>
   <p><strong><%= t('shared.authentications_tab.add_another') %></strong></p>
  <% else %>
  <p><strong><%= t('shared.authentications_tab.sign_in_from') %></strong></p>
<% end %>

<%= render :partial => 'shared/oauth_providers' %>