<div id='edit_profile_dialog' style='display:none' title='<%= t('shared.edit_profile_dialog.title') %>'>
  <ul>
    <li><a href="#info">User Info</a></li>
    <li><a href="#subscription">Subscription</a></li>
    <li id="ui-tab-dialog-close"></li>
  </ul>
  <div id="info">
  <%= form_for(current_user, :url => registration_path(:user), :html => { :method => :put }) do |f| %>
    <div class="field">
      <%= f.label :email %><br/>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %> <%= field_help t('shared.edit_profile_dialog.password_help') %><br/>
      <%= f.password_field :password, :autocomplete => 'off' %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation, :autocomplete => 'off' %>
    </div>
    <div class='field'>
      <%= f.label :locale %><br/>
      <%= select :user, :locale, I18n.backend.available_locales.collect {|l| [I18n.t('this_file_language', :locale => l), l.to_s]}, {:selected => current_user.locale} %>
    </div>
    <div class="field">
      <%= f.label :current_password %> <%= field_help t('shared.edit_profile_dialog.current_password_help') %><br/>
      <%= f.password_field :current_password, :autocomplete => 'off' %>
    </div>
  <% end %>
  </div>
  <div id='subscription'>
    <%= render :partial => 'shared/subscription_tab' %>
  </div>
</div>

<%= javascript_tag do %>
  $('#edit_profile_dialog').tabs();
  $('#edit_profile_dialog').dialog({autoOpen: false, modal: true, buttons: {
    '<%= t('actions.update') %>': function() {
        if($('#edit_profile_dialog').tabs('option', 'selected') == 0) {
          $('#edit_profile_dialog #info form').submit();
        } else {
          $('#edit_profile_dialog #subscription form').submit();
        }
      },
    '<%= t('actions.cancel') %>': function() {
        $(this).dialog('close');
      }
    }
  });
  $('#ui-tab-dialog-close').append($('a.ui-dialog-titlebar-close'));
<% end %>