<div id='forgot_password_dialog' style='display:none' title='<%= t('shared.forgot_password_dialog.title') %>'>
  <%= form_for(:user, :url => password_path(:user)) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <% unless !@user || @user.errors[:email].blank? %>
        <span id='errorExplanation'>- <%= @user.errors[:email].first %></span>
      <% end %>
      <br/>
      <%= f.text_field :email, :type => 'email' %>
    </div>
  <% end %>

  <%= render :partial => "shared/registration_links", :locals => {:action => :forgot_password} %>
</div>

<%= javascript_tag do %>
  $('#forgot_password_dialog').dialog({autoOpen: false, modal: true, buttons: {
  '<%= t('actions.resend') %>': function() {
      $('#forgot_password_dialog form').submit();
    },
  '<%= t('actions.cancel') %>': function() {
      $(this).dialog('close');
    }
  }});
<% end %>