<div id='functionalities_slideshow'>
  <%= image_tag 'manage.png' %>
  <%= image_tag 'angas.png' %>
  <%= image_tag 'techniques.png' %>
  <%= image_tag 'play.png' %>
  <%= image_tag 'share.png' %>
  <%= image_tag 'calendar.png' %>
</div>
<%= javascript_tag do %>
  $('#functionalities_slideshow').cycle();
<% end %>