<div id='new_confirmation_dialog' style='display:none' title='<%= t('shared.new_confirmation_dialog.title') %>'>
  <%= form_for(:user, :url => confirmation_path(:user)) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <% unless !@user || @user.errors[:email].blank? %>
        <span id='errorExplanation'>- <%= @user.errors[:email].first %></span>
      <% end %>
      <br/>
      <%= f.text_field :email %>
    </div>
  <% end %>

  <%= render :partial => "shared/registration_links", :locals => {:action => :new_confirmation} %>
</div>

<%= javascript_tag do %>
  $('#new_confirmation_dialog').dialog({autoOpen: false, modal: true, buttons: {
  '<%= t('actions.resend') %>': function() {
      $('#new_confirmation_dialog form').submit();
    },
  '<%= t('actions.cancel') %>': function() {
      $(this).dialog('close');
    }
  }});
<% end %>