<div id='notifications'>
  <% if notice %>
      <div class='notice ui-state-highlight ui-corner-all'>
        <p>
          <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
          <%= notice.html_safe %>
        </p>
      </div>
  <% end %>
  <% if alert %>
      <div class="alert ui-state-error ui-corner-all">
        <p>
          <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
          <%= alert %>
        </p>
      </div>
  <% end %>
  <% if user_signed_in? && !current_user.subscription.free? && current_user.subscription.past_due? %>
      <div class="alert ui-state-error ui-corner-all">
        <p>
          <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
          <%= t('application.account_past_due', :days => current_user.subscription.past_due_days) %>
          <%= link_to "Update your card", "#", :id => "update_card_link" %>
        </p>

      </div>
  <% end %>
</div>

<%= javascript_tag do %>
$(document).ready(function() {
  $("#update_card_link" )
    .button()
    .click(function( event ) {
      event.preventDefault();
      $('#edit_profile_dialog').dialog('open').tabs("option", "selected", 1);
    });
});
<% end %>