<%
  resource_name ||= :user
  resource ||= current_user
%>
<%= form_for( resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :autocomplete => 'off' }) do |f| %>
  <div class="field">
    <%= f.label :email %><br/>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %> <%= field_help t('shared.edit_profile_dialog.password_help') %><br/>
    <%= f.password_field :password, :autocomplete => 'off' %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, :autocomplete => 'off' %>
  </div>
  <div class='field'>
    <%= f.label :locale %><br/>
    <%= select :user, :locale, I18n.backend.available_locales.collect {|l| [I18n.t('this_file_language', :locale => l), l.to_s]}, {:selected => current_user.locale} %>
  </div>
  <div class="field">
    <%= f.label :current_password %> <%= field_help t('shared.edit_profile_dialog.current_password_help') %><br/>
    <%= f.password_field :current_password, :autocomplete => 'off' %>
  </div>
<% end %>