<div id='sign_in_dialog' style='display:none' title='<%= t('shared.sign_in_dialog.title') %>'>
  <%= form_for(:user, :url => session_path(:user)) do |f| %>
    <%= render :partial => 'shared/sign_in_fields', :locals => {:f => f} %>
  <% end %>
  <%= render :partial => "shared/registration_links", :locals => {:action => :sign_in} %>
</div>

<%= javascript_tag do %>
  $('#sign_in_dialog').dialog({autoOpen: false, modal: true, buttons: {
    '<%= t('actions.sign_in') %>': function() {
        $('#sign_in_dialog form').submit();
      },
    '<%= t('actions.cancel') %>': function() {
        $(this).dialog('close');
      }
    }
  });
<% end %>