<% if @user.facebook %>
  <%= f.hidden_field :invited_by %>
  <p><%= t('shared.signup_fields.enter_email') %></p>
  <ul>
    <li><%= link_to @user.facebook.email, "#", :onclick => "$('#user_email').val(this.innerHTML)" %></li>
  </ul>
<% end %>
<div class='field'>
  <%= f.label :name %><br/>
  <%= f.text_field :name %>
</div>
<div class='field'>
  <%= f.label :email %><br/>
  <%= f.text_field :email, :type => 'email' %>
</div>
<% if @user.password_required? %>
<div class='field'>
  <%= f.label :password %><br/>
  <%= f.password_field :password %>
</div>
<div class='field'>
  <%= f.label :password_confirmation %><br/>
  <%= f.password_field :password_confirmation %>
</div>
<% end %>