<div id='sign_up_dialog' style='display:none' title='<%= t('shared.sign_up_dialog.title') %>'>
  <%= form_for(:user, :url => registration_path(:user)) do |f| %>
    <div class='field'>
      <%= f.label :email %><br/>
      <%= f.text_field :email %>
    </div>
    <div class='field'>
      <%= f.label :password %><br/>
      <%= f.password_field :password %>
    </div>
    <div class='field'>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
  <% end %>
  <%= render :partial => "shared/registration_links", :locals => {:action => :sign_up} %>
</div>

<%= javascript_tag do %>
  $('#sign_up_dialog').dialog({autoOpen: false, modal: true, buttons: {
    '<%= t('actions.sign_up') %>': function() {
        $('#sign_up_dialog form').submit();
      },
    '<%= t('actions.cancel') %>': function() {
        $(this).dialog('close');
      }
    }
  });
<% end %>