<%= form_for current_user.subscription do |f| %>
  <div class='field'>
    <%= f.label :plan %><br />
    <%= f.select :plan, current_user.subscription.allowed_plans.collect {|p| ["#{p.name}#{' (current)' if(p==current_user.subscription.plan)}" , p.id ] }, :selected => current_user.subscription.plan.id %>
  </div>
  <div class='field'>
    <%= f.label :credit_card %> (
      <%= link_to_function ((current_user.subscription.profile && !current_user.subscription.profile.no_info?) ? 'update' : 'add'), "$.ajax({type: 'get', url:'#{credit_card_subscription_path(:current)}', dataType: 'script'});" %>
      <% if current_user.subscription.profile && !current_user.subscription.profile.no_info? %>
, <%= link_to_function 'remove', "$.ajax({type: 'post', url:'#{unstore_credit_card_subscription_path(:current)}', dataType: 'script'});" %>
      <% end %>
    )<br />
    <% if current_user.subscription.profile.nil? || current_user.subscription.profile.no_info? %>
      <p>(no credit card on file)</p>
    <% else %>
      <p>
        <%= "#{current_user.subscription.profile.card_type.titleize} #{current_user.subscription.profile.card_display_number}"%><br/>
        <%= "Expires: #{current_user.subscription.profile.card_expires_on}" %>
      </p>
    <% end %>
    <div id='credit_card'></div>
  </div>
  <% if t = current_user.subscription.latest_transaction %>
    <div class='field'>
      <%= f.label :latest_transaction %> ( <%= link_to_function 'history', "$.ajax({type:'get', url:'#{history_subscription_path(:current)}', dataType:'script'});" %> )<br/>
      <p>
        <%# make this a helper %>
        <%= t.created_at %>:
        <%= 'FAILED TO' unless t.success? %>
        <%= t.action.capitalize %><%= 'card' if t.token.present? %><%= "for #{t.amount.format(:symbol => true)}" unless t.amount.nil? %>.
        <%= t.message %>
      </p>
    </div>
    <div id='transaction_history' title='Transaction history'></div>
  <% end %>
<% end %>