<%= form_for current_user.subscription do |f| %>
    <div id="plans" class='field'>
      <%= f.label :plan %><%= field_help t('subscription.help.plan') %><br />
      <%= f.hidden_field :plan, :value => f.object.plan_id %>

      <div id='free' class="plan">
        <h2>Free</h2>
        <ul>
          <li><%= t('shared.plans_dialog.private_practice', :count => 1).html_safe %></li>
          <li><%= t('shared.plans_dialog.unlimited_shared_practices').html_safe %></li>
          <li class='limited'><%= t('shared.plans_dialog.calendar').html_safe %></li>
          <li class='limited'><%= t('shared.plans_dialog.share').html_safe %></li>
          <li class="price"><%= t('shared.plans_dialog.free') %></li>
          <li class="select_button"><%= submit_tag "Select", :plan_id => 1, :class => "#{'ui-state-selected' if f.object.plan_id == 1}" %></li>
        </ul>

      </div>
      <div id='lite' class="plan recommended">
        <h2>Lite</h2>
        <ul>
          <li><%= t('shared.plans_dialog.unlimited_private_practices').html_safe %></li>
          <li><%= t('shared.plans_dialog.unlimited_shared_practices').html_safe %></li>
          <li class='unlimited'><%= t('shared.plans_dialog.calendar').html_safe %></li>
          <li class='limited'><%= t('shared.plans_dialog.share').html_safe %></li>
          <li class="price">US$ <span class="limited">3</span>/<%= t('datetime.prompts.month') %></li>
          <li class="select_button"><%= submit_tag "Select", :plan_id => 2, :class => "#{'ui-state-selected' if f.object.plan_id == 2}" %></li>
        </ul>
      </div>
      <div id='pro' class="plan">
        <h2>Pro</h2>
        <ul>
          <li><%= t('shared.plans_dialog.unlimited_private_practices').html_safe %></li>
          <li><%= t('shared.plans_dialog.unlimited_shared_practices').html_safe %></li>
          <li class='unlimited'><%= t('shared.plans_dialog.calendar').html_safe %></li>
          <li class='unlimited'><%= t('shared.plans_dialog.share').html_safe %></li>
          <li class="price">US$ <span class="limited">7</span>/<%= t('datetime.prompts.month') %></li>
          <li class="select_button"><%= submit_tag "Select", :plan_id => 4, :class => "#{'ui-state-selected' if f.object.plan_id == 4}" %></li>
        </ul>
      </div>
    </div>

    <%= f.hidden_field :stripe_card_token %>

    <% unless f.object.stripe_customer_token.present? %>
    <div class="field">
      <%= label_tag :card_number, "Credit Card Number " %>
      <%= text_field_tag :card_number, nil, name: nil %>
    </div>
    <div class="field">
      <%= label_tag :card_code, "Security Code on Card (CVV)" %>
      <%= text_field_tag :card_code, nil, name: nil %>
    </div>
    <div class="field">
      <%= label_tag :card_month, "Card Expiration" %>
      <%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month"}%>
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}%>
    </div>
    <% end %>
    <div id="stripe_error">
      <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
    </div>

  <div class="field">
    <%= f.label :current_password %><%= field_help t('shared.edit_profile_dialog.current_password_help') %><br/>
    <%= f.password_field :current_password, :autocomplete => 'off' %>
  </div>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function() {
    $(".select_button input[type=submit]" )
        .button()
    .click(function( event ) {
        event.preventDefault();
        $('.select_button input').removeClass('ui-state-selected');
        $(this).addClass('ui-state-selected');
        $('#subscription_plan').val($(this).attr('plan_id'));
    });

    Stripe.setPublishableKey($('meta[name="stripe-key"]').attr('content'));

  });
<% end %>