<%= form_for current_user.subscription do |f| %>
    <div id="plans" class='field'>
      <%= f.label :plan %><%= field_help t('subscription.help.plan') %><br />
      <%= f.hidden_field :plan, :value => f.object.plan_id %>

      <div id='free' class="plan">
        <h2>Free</h2>
        <ul>
          <li><%= t('shared.plans_dialog.private_practice', :count => 1).html_safe %></li>
          <li><%= t('shared.plans_dialog.unlimited_shared_practices').html_safe %></li>
          <li class='limited'><%= t('shared.plans_dialog.calendar').html_safe %></li>
          <li class='limited'><%= t('shared.plans_dialog.share').html_safe %></li>
          <li class="price"><%= t('shared.plans_dialog.free') %></li>
          <li class="select_button"><%= submit_tag t('actions.select'), :plan_id => 1, :class => "#{'ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-selected' if f.object.plan_id == 1}" %></li>
        </ul>

      </div>
      <div id='lite' class="plan recommended">
        <h2>Lite</h2>
        <ul>
          <li><%= t('shared.plans_dialog.unlimited_private_practices').html_safe %></li>
          <li><%= t('shared.plans_dialog.unlimited_shared_practices').html_safe %></li>
          <li class='unlimited'><%= t('shared.plans_dialog.calendar').html_safe %></li>
          <li class='limited'><%= t('shared.plans_dialog.share').html_safe %></li>
          <li class="price">US$ <span class="limited">3</span>/<%= t('datetime.prompts.month') %></li>
          <li class="select_button"><%= submit_tag t('actions.select'), :plan_id => 3, :class => "#{'ui-state-selected' if f.object.plan_id == 3}" %></li>
          <li class="price">US$ <span class="limited">30</span>/<%= t('datetime.prompts.year') %></li>
          <li class="select_button"><%= submit_tag t('actions.select'), :plan_id => 5, :class => "#{'ui-state-selected' if f.object.plan_id == 5}" %></li>
        </ul>
      </div>
      <div id='pro' class="plan">
        <h2>Pro</h2>
        <ul>
          <li><%= t('shared.plans_dialog.unlimited_private_practices').html_safe %></li>
          <li><%= t('shared.plans_dialog.unlimited_shared_practices').html_safe %></li>
          <li class='unlimited'><%= t('shared.plans_dialog.calendar').html_safe %></li>
          <li class='unlimited'><%= t('shared.plans_dialog.share').html_safe %></li>
          <li class="price">US$ <span class="limited">7</span>/<%= t('datetime.prompts.month') %></li>
          <li class="select_button"><%= submit_tag t('actions.select'), :plan_id => 4, :class => "#{'ui-state-selected' if f.object.plan_id == 4}" %></li>
          <li class="price">US$ <span class="limited">70</span>/<%= t('datetime.prompts.year') %></li>
          <li class="select_button"><%= submit_tag t('actions.select'), :plan_id => 6, :class => "#{'ui-state-selected' if f.object.plan_id == 6}" %></li>
        </ul>
      </div>
    </div>

    <%= f.hidden_field :stripe_card_token %>

    <% if f.object.stripe_customer_token.present? %>
      <div class = "field cc set">
        <%= t('shared.plans_dialog.change_card') %> <%= link_to t('shared.plans_dialog.change_card_link'), '#', :id => 'show_cc_fields_link' %>
      </div>
    <% end %>
    <div class="field cc">
      <%= label_tag :card_number, t('shared.plans_dialog.credit_card_number') %>
      <%= text_field_tag :card_number, nil, :name => nil %>
    </div>
    <div class="field cc">
      <%= label_tag :card_code, t('shared.plans_dialog.security_code') %>
      <%= text_field_tag :card_code, nil, :name => nil %>
    </div>
    <div class="field cc">
      <%= label_tag :card_month, t('shared.plans_dialog.card_expiration') %>
      <%= select_month nil, {:add_month_numbers_true => true}, {:name => nil, :id => "card_month"}%>
      <%= select_year nil, {:start_year => Date.today.year, :end_year => Date.today.year+15}, {:name => nil, :id => "card_year"}%>
    </div>

    <div id="stripe_error">
      <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
    </div>

  <div class="field">
    <%= f.label :current_password %><%= field_help t('shared.edit_profile_dialog.current_password_help') %><br/>
    <%= f.password_field :current_password, :autocomplete => 'off' %>
  </div>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function() {
    $(".select_button input[type=submit]" ).
    button()
    .click(function( event ) {
        event.preventDefault();
        $('.select_button input').removeClass('ui-state-selected');
        $(this).addClass('ui-state-selected');
        var plan_id = $(this).attr('plan_id');
        $('#subscription_plan').val(plan_id);
        if(plan_id != 1 && !$('.field.cc.set').length) {
            $('.field.cc').show();
        } else if(!$('.field.cc.set').length) {
            $('.field.cc').hide();
        }
    });

    $("#show_cc_fields_link").click(function(event) {
        event.preventDefault();
        $('.field.cc').show();
        $('.field.cc.set').remove();
    });

    if($(this).attr('plan_id') != 1 && !$('.field.cc.set').length) {
        $('.field.cc').show();
    }

    Stripe.setPublishableKey($('meta[name="stripe-key"]').attr('content'));

  });
<% end %>