<%= render :partial => 'shared/functionalities_dialog' %>

<div id="get_started">
    <h2><%= t('home.get_started.title') %></h2>
    <p><%= t('home.get_started.text') %></p>
    <div id="sign_up_button">
      <%= link_to_function t('home.get_started.button'), "$('#sign_up_dialog').dialog('open');", :class => 'awesome large blue' %>
      <%= link_to_function t('home.functionalities.button'), "$('#functionalities').dialog('open');", :class => 'awesome large blue' %>
    </div>
</div>

<div id="social">
  <span class="twitter">
    <%= t('home.follow_us_on_twitter_html', :twitter => link_to(content_tag(:span,'Twitter'), 'http://twitter.com/sadhana_app', :class=>'twitter-link')) %>
  </span>

  <span class="facebook">
    <%= t('home.find_us_on_fb_html', :facebook => link_to(content_tag(:span, "facebook"), "http://www.facebook.com/pages/Sadhana/134874333191329", :class=>'facebook-link')) %></br>
  </span>
</div>
