<div id='functionalities_slideshow'>
  <div>
    <h2><%= t('home.functionalities.manage') %></h2>
    <%= image_tag 'screenshot_editor.png' %>
  </div>
  <div>
    <h2><%= t('home.functionalities.practice') %></h2>
    <%= image_tag 'screenshot_play.png' %>
  </div>
  <div>
    <h2><%= t('home.functionalities.calendar') %></h2>
    <%= image_tag 'screenshot_calendar.png' %>
  </div>
</div>
<div id="functionalities_list">
  <h2><%= t('home.functionalities.list_title') %></h2>
  <ul>
    <li><%= t('home.functionalities.manage') %></li>
    <li><%= t('home.functionalities.practice') %></li>
    <li><%= t('home.functionalities.calendar') %></li>
  </ul>
</div>
<div id="get_started">
    <h2><%= t('home.get_started.title') %></h2>
    <p><%= t('home.get_started.text') %></p>
    <div id="sign_up_button">
      <%= link_to_function t('home.get_started.button'), "$('#sign_up_dialog').dialog('open');", :class => 'awesome large blue' %>
    </div>
</div>

<div id="social">
<div class="tweet"></div>

<div class="facebook">
  <%= t('home.find_us_on_fb', :facebook => link_to(content_tag(:span, "facebook"), "http://www.facebook.com/pages/Sadhana/134874333191329", :class=>'facebook-link')) %>
</div>
</div>
<%= javascript_tag do %>
  $('.tweet').tweet({username: 'sadhana_app', avatar_size: 32, count: 1, intro_text: '<%= t('home.follow_us_on_twitter', :twitter => link_to(content_tag(:span,'Twitter'), 'http://twitter.com/sadhana_app', :class=>'twitter-link')) %>', loading_text: 'Loading...'});

  $('#functionalities_slideshow').cycle({
    fx: 'all',
    fit: 1
  });
<% end %>
