<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :description %><br />
  <%= f.text_area :description, :rows => 10 %>
</div>
<div class="field">
  <%= f.label :delay %><br />
  <%= f.text_field :delay %>
</div>