<% compensation ||= false %>

<div id='<%= dom_id practice_technique %>' class='slideshow_practice_technique' minutes=<%= practice_technique.minutes %> seconds=<%= practice_technique.seconds %>>
  <div class="current_technique">
  <div id='main_panel'>
    <h2><%= practice_technique.technique.name %> <%= '(Comp)' if compensation%></h2>
    <p>
    <%= image_tag practice_technique.technique.photo.url(:medium, false) %>
    </p>
  </div>
  <div id='info_panel'>
    <h3><%= Technique.human_attribute_name :description %></h3>

    <p><%= simple_format practice_technique.technique.description || t('practices.play_practice_technique.no_description') %></p>

    <h3><%= PracticeTechnique.human_attribute_name :observations %></h3>

    <p><%= simple_format practice_technique.observations || t('practices.play_practice_technique.no_observations') %></p>

    <h3><%= PracticeTechnique.human_attribute_name :associated_techniques %></h3>
    <% if practice_technique.techniques.empty? %>
      <p><%= t('practices.play_practice_technique.no_associated_techniques') %></p>
    <% end %>
    <ul class='associated_techniques'>
      <% practice_technique.techniques.each do |associated_technique| %>
        <li class='associated_technique'>
          <%= image_tag associated_technique.photo.url(:thumb, false) %>
          <h4><%= associated_technique.name %></h4>
        </li>
      <% end %>
    </ul>
  </div>
  </div>
  <% unless next_technique.nil? %>
    <div class="next_technique">
      <h3><%= t('practices.play_practice_technique.next_technique') %></h3>
      <p>
      <%= image_tag next_technique.technique.photo.url(:thumb, false) %>
      </p>
      <h4><%= next_technique.technique.name %></h4>
    </div>
  <% end %>
</div>