<%= form_for(@practice) do |f| %>
  <div class="field">
    <%= f.check_box :continuous %> <%= f.label :continuous %><%= field_help t('practice.help.continuous') %>
  </div>
  <div class="field" id="delay_field">
    <%= f.label :delay %><%= field_help t('practice.help.delay') %>
    <br />
    <%= f.text_field :delay %>
  </div>
  <div class="field">
    <%= f.label :sound_filename %><%= field_help t('practice.help.sound_filename') %>
    <br />
    <%= f.select :sound_filename, {'Goblet' => 'goblet', 'Chime' => 'chime'}, {:selected => @practice.sound_filename}, {} %>
  </div>
<% end %>

<%= javascript_tag do %>
  Practices.toggleDelayFields($('#practice_continuous').val());
  $('#practice_continuous').change(function(event) {
    event.stopImmediatePropagation();
    Practices.toggleDelayFields($('#practice_continuous').val());
  });
<% end %>
