<li id='practice_<%= practice.id %>' class="practice">
  <h3><%= jeditable_field(:practice, :name, :object => practice) %></h3>
  <p class="time">(<%= t('practice.time_format', :minutes =>practice.total_time / 60, :seconds => practice.total_time % 60 ) %>)</p>
  <p><%= jeditable_field(:practice, :description, :object => practice) %></p>
  <ul class='actions'>
    <li><%= link_to t('actions.play'), play_practice_path(practice), :class => 'small orange awesome' %></li>
    <li><%= link_to t('actions.edit'), practice, :class => 'small orange awesome' %></li>
    <li><%= link_to t('actions.add_to_calendar'), new_practice_event_path, :class => 'small orange awesome', :id => "#{dom_id practice}_add_to_calendar_link" %>
    <%= javascript_tag do %>
      $('#<%= dom_id practice %>_add_to_calendar_link').click(function() {
        $.ajax({
          type:'get',
          data: 'practice_event[practice_id]=<%= practice.id %>',
          dataType: 'script',
          url: '<%= new_practice_event_path %>'
        });
        return false;
      });
    <% end %>
    </li>
    <li><%= link_to_function t('actions.destroy'), "$('#confirm_dialog').dialog({
            resizable: false,
            height:140,
            modal: true,
            buttons: {
              '#{t('actions.delete')}': function() {
                $.ajax({
                    type:'post',
                    data: { '_method': 'delete' },
                    dataType: 'json',
                    url: '/practices/#{practice.id}',
                    success: function(data) {
                      $('#practice_#{practice.id}').fadeOut('slow', function() {
                          $('#practice_#{practice.id}').remove();
                      });
                    }
                });
                $(this).dialog('close');
              },
              '#{t('actions.cancel')}': function() {
                $(this).dialog('close');
              }
            }
          });", :class => 'small orange awesome'%>
    </li>
  </ul>
</li>