<%= form_for(@practice) do |f| %>
  <div class="field name">
    <%= Practice.human_attribute_name :name %><%= field_help t('practice.help.name') %>
    <br />
    <%= f.text_field :name %>
  </div>

  <div class="field description">
    <%= Practice.human_attribute_name :description %><%= field_help t('practice.help.description') %><br/>
    <br />
    <%= f.text_area :description %>
  </div>
<% end %>