<li id='practice_<%= practice.id %>'>
  <h3><%= practice.name %></h3>
  <p><%= practice.description %></p>
  <ul class='actions'>
    <li><%= link_to 'Play', play_practice_path(practice), :class => 'small orange awesome' %></li>
    <li><%= link_to 'Show', practice, :class => 'small orange awesome' %></li>
    <li><%= link_to_function 'Add to calendar', "$.ajax({
                            type:'get',
                            data: 'practice_event[practice_id]=#{ practice.id }',
                            dataType: 'script',
                            url: '/practice_events/new'
                          });", :class => 'small orange awesome' %>
    </li>
    <li><%= link_to_function 'Destroy', "$('#confirm_dialog').dialog({
            resizable: false,
            height:140,
            modal: true,
            buttons: {
              'Delete': function() {
                $.ajax({
                    type:'post',
                    data: { '_method': 'delete' },
                    dataType: 'json',
                    url: '/practices/#{practice.id}',
                    success: function(data) {
                      $('#practice_#{practice.id}').fadeOut('slow', function() {
                          $('#practice_#{practice.id}').remove();
                      });
                    }
                });
                $(this).dialog('close');
              },
              Cancel: function() {
                $(this).dialog('close');
              }
            }
          });", :class => 'small orange awesome'%>
    </li>
  </ul>
</li>