<li id='practice_<%= practice.id %>'>
  <h3><%= practice.name %></h3>
  <p><%= practice.description %></p>
  <ul class='actions'>
    <li><%= link_to t('actions.play'), play_practice_path(practice), :class => 'small orange awesome' %></li>
    <li><%= link_to t('actions.show'), practice, :class => 'small orange awesome' %></li>
    <li><%= link_to_function t('actions.add_to_calendar'), "$.ajax({
                            type:'get',
                            data: 'practice_event[practice_id]=#{ practice.id }',
                            dataType: 'script',
                            url: '/practice_events/new'
                          });", :class => 'small orange awesome' %>
    </li>
    <li><%= link_to_function t('actions.destroy'), "$('#confirm_dialog').dialog({
            resizable: false,
            height:140,
            modal: true,
            buttons: {
              '#{t('actions.delete')}': function() {
                $.ajax({
                    type:'post',
                    data: { '_method': 'delete' },
                    dataType: 'json',
                    url: '/practices/#{practice.id}',
                    success: function(data) {
                      $('#practice_#{practice.id}').fadeOut('slow', function() {
                          $('#practice_#{practice.id}').remove();
                      });
                    }
                });
                $(this).dialog('close');
              },
              '#{t('actions.cancel')}': function() {
                $(this).dialog('close');
              }
            }
          });", :class => 'small orange awesome'%>
    </li>
  </ul>
</li>