<% if @practices.empty? %>
  <div class="notice ui-state-highlight ui-corner-all">
    <p>
      <span class="ui-icon ui-icon-lightbulb" style="float: left; margin-right: .3em;"></span>
      <%= t('practices.index.create_practice_tip') %>
    </p>
  </div>
<% end %>

<ul class='actions'>
  <li>
    <%= link_to t('practices.index.new_practice'), new_practice_path, :class => 'blue medium awesome', :id => 'new_practice_link'%>
    <%= javascript_tag do %>
      $('#new_practice_link').click(function() {
        $.ajax({
          type:'get',
          dataType: 'script',
          url: '/practices/new'
        });
        return false;
      });
    <% end %>
  </li>
  <li>
    <%= link_to_function t('practices.index.new_invitation'), "$('#new_invitation_dialog').dialog('open')", :class => 'blue medium awesome' %>
  </li>
</ul>


<h2><%= t('practices.index.my_practices') %></h2>

<ul id='practices'>
  <% @practices.each do |practice| %>
    <%= render :partial => 'practice', :locals => {:practice => practice} %>
  <% end %>
</ul>

<%= will_paginate @practices, :previous_label => t('actions.previous'), :next_label => t('actions.next') %>

<%= render :partial=> 'shared/new_invitation_dialog' %>
<%= render :partial => 'shared/confirm_dialog' %>
<%= render :partial => 'shared/new_practice_dialog' %>
<%= render :partial => 'shared/new_event_dialog' %>