<ul class='actions'>
  <li>
    <%= link_to_function t('practices.index.new_practice'), "$.ajax({
          type:'get',
          dataType: 'script',
          url: '/practices/new'
        });", :class => 'blue medium awesome' %>
  </li>
</ul>


<h2><%= t('practices.index.my_practices') %></h2>

<ul id='practices'>
  <% @practices.each do |practice| %>
    <%= render :partial => 'practice', :locals => {:practice => practice} %>
  <% end %>
</ul>

<%= render :partial => 'shared/confirm_dialog' %>
<%= render :partial => 'shared/new_practice_dialog' %>
<%= render :partial => 'shared/new_event_dialog' %>