<h1>Listing practices</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @practices.each do |practice| %>
  <tr>
    <td><%= practice.name %></td>
    <td><%= practice.description %></td>
    <td><%= link_to 'Play', play_practice_path(practice) %></td>
    <td><%= link_to 'Show', practice %></td>
    <noscript>
      <td><%= link_to 'Edit', edit_practice_path(practice) %></td>
    </noscript>
    <td><%= link_to 'Destroy', practice, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Practice', new_practice_path %>
