<div id='controls'>
  <%= link_to content_tag(:span, t('actions.previous'), :id => 'prev'), "#", :class => "small orange awesome" %>
  <%= link_to_function t('actions.pause'), "$('#slideshow_practice_techniques').cycle('pause'); $('#countdown').countdown('pause');", :class => 'small orange awesome' %>
  <div id="countdown"></div>
  <%= link_to_function t('actions.play'), "$('#slideshow_practice_techniques').cycle('resume'); $('#countdown').countdown('resume');", :class => 'small orange awesome' %>
  <%= link_to content_tag(:span, t('actions.next'), :id => 'next'), "#" , :class => 'small orange awesome' %>
</div>
<div id='slideshow_practice_techniques' style='width: auto;'>
  <% @practice.practice_techniques.each do |practice_technique| %>
    <%= render :partial => 'play_practice_technique', :locals => {:practice_technique => practice_technique} %>
    <% if practice_technique.compensate? %>
      <%= render :partial => 'play_practice_technique', :locals => {:practice_technique => practice_technique, :compensation => true} %>
    <% end %>
  <% end %>
</div>


<%= javascript_tag do %>
  $('#countdown').countdown({until:"0:0", compact: true, description: '', onExpiry: function() {$.sound.play('/ping.wav');$('#slideshow_practice_techniques').cycle('next');}});
  $('#slideshow_practice_techniques').cycle({
    prev:    '#prev',
    next:    '#next',
    timeout: 0,
    after: function(currSlideElement, nextSlideElement, options, forwardFlag) {
      minutes = parseInt($(nextSlideElement).attr('minutes')) || 0
      seconds = parseInt($(nextSlideElement).attr('seconds')) || 1;
      $('#countdown').countdown('change', {until: '+' + minutes + 'm +' + seconds + 's', format: 'MS'});
      $('#countdown').countdown('pause');
    },
    fit: 1,
    width: '99.9%'
  });
  $('#countdown').countdown('pause');
<% end %>