<div id='slideshow_practice_techniques'>
  <% practice_parts = @practice.practice_parts %>
  <% practice_parts.each_with_index do |practice_part, part_index| %>
  <% practice_techniques = practice_part.practice_techniques %>
  <% practice_techniques.each_with_index do |practice_technique, technique_index| %>
    <% next_technique = practice_technique.compensate? ? practice_technique : practice_techniques[technique_index+1]%>
    <% first_technique_of_next_part =  practice_parts[part_index+1].practice_techniques.first if practice_parts[part_index+1] %>
    <%= render :partial => 'play_practice_technique', :locals => {:practice_technique => practice_technique, :next_technique => next_technique || first_technique_of_next_part} %>
    <% if practice_technique.compensate? %>
      <%= render :partial => 'play_practice_technique', :locals => {:practice_technique => practice_technique, :compensation => true, :next_technique => practice_techniques[technique_index+1] || first_technique_of_next_part} %>
    <% end %>
  <% end %>
  <% end %>
  <div class='slideshow_practice_technique' minutes='-1' seconds='-1'>
    <h1><%= t('practices.play.thank_you') %></h1>
    <ul>
      <li><%= t('practices.play.add_to_calendar', :add_to_calendar_link => link_to_function(t('practices.play.add_to_calendar_link'), "$.ajax({ type:'get', data: 'practice_event[practice_id]=#{@practice.id}', dataType: 'script', url: '#{new_practice_event_path}'});")).html_safe %></li>
      <li><%= t('practices.play.play_it_again', :play_again_link => link_to(t('practices.play.play_again_link'), play_practice_path(@practice))).html_safe %></li>
      <li><%= t('practices.play.go_back', :practices_link => link_to(t('practices.play.practices_link'), practices_path)).html_safe %></li>
    </ul>
    <h2><%= t('practices.play.share') %></h2>
    <a name="fb_share" type="button" share_url="http://sadhana.com.ar" href="http://www.facebook.com/sharer.php"><%= t('actions.share') %></a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
    <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://sadhana.com.ar" data-text="<%= t('practices.play.share_on_facebook') %>" data-count="none" data-via="sadhana_app" data-related="lperichon">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  </div>
</div>

<div id='play_preferences_dialog' title='<%= t('practices.play.play_preferences_dialog.title') %>' style="display:none">
  <%= render :partial => 'practices/play_preferences_dialog_form' %>
</div>

<ul class='actions' id="play_controls">
  <% if @practice.user.id == current_user.id %>
  <li><%= link_to t('actions.edit'), practice_path(@practice), :class=>'button' %></li>
  <li><%= link_to_function content_tag(:span, t('actions.preferences')), "$('#play_preferences_dialog').dialog('open')", :class=>'button' %></li>
  <% end %>
  <li><%= link_to t('actions.previous'), "#", :id => 'prev'%></li>
  <li><%= link_to_function t('actions.pause'), "$('#countdown').countdown('pause')", :id=>'pause'%></li>
  <div id="countdown"></div>
  <li><%= link_to_function t('actions.play'), "$('#countdown').countdown('resume')", :id=>'play'%></li>
  <li><%= link_to t('actions.next'), "#", :id => 'next'%></li>
  <li><%= link_to_function t('actions.add_to_calendar'), "$.ajax({ type:'get', data: 'practice_event[practice_id]=#{@practice.id}', dataType: 'script', url: '#{new_practice_event_path}'})", :class=>'button' %></li>
</ul>

<%= render :partial => 'shared/new_event_dialog' %>

<%= javascript_tag do %>
  $(document).ready(function(){
  $("#jpId").jPlayer( {
    ready: function () {
      this.element.jPlayer("setFile", "/sounds/<%= @practice.sound_filename %>.mp3", "/sounds/<%= @practice.sound_filename %>.ogg"); // Defines the mp3
      this.element.jPlayer("onSoundComplete", function() {
        this.element.jPlayer("setFile", "/sounds/<%= @practice.sound_filename %>.mp3", "/sounds/<%= @practice.sound_filename %>.ogg"); // Defines the mp3
      });
    },
    nativeSupport: true,
    oggSupport: true,
    swfPath: "/"
  });
  });

  $('#play_controls li .button').button();

  $('#play_controls #prev').button({
    icons: {
        primary: 'ui-icon-seek-prev'
    },
    text: false
  });

  $('#play_controls #pause').button({
    icons: {
        primary: 'ui-icon-pause'
    },
    text: false
  });

  $('#play_controls #play').button({
    icons: {
        primary: 'ui-icon-play'
    },
    text: false
  });

  $('#play_controls #next').button({
    icons: {
        primary: 'ui-icon-seek-next'
    },
    text: false
  });


  $('#play_preferences_dialog').dialog({
    autoOpen: false,
    modal: true,
    buttons: {
      '<%=t('actions.save')%>': function() {
        $.ajax({
            type:'put',
            dataType: 'script',
            data: $('#play_preferences_dialog form').serialize(),
            url: $('#play_preferences_dialog form').attr('action'),
            success: function() {
              window.location.reload()
            }
        });
      },
      '<%=t('actions.cancel')%>': function() {
        $('#play_preferences_dialog').dialog('close');
      }
    }
  });
  if($('.slideshow_practice_technique').length > 1) {
      $('#slideshow_practice_techniques').cycle({
        prev:    '#prev',
        next:    '#next',
        timeout: 0,
        after: function(currSlideElement, nextSlideElement, options, forwardFlag) {
          minutes = parseInt($(nextSlideElement).attr('minutes')) || 0;
          seconds = parseInt($(nextSlideElement).attr('seconds')) || 1;
          if(minutes == -1 && seconds == -1) {
            $('#play_controls').hide();
          } else {
            Practices.resetCountdown(minutes, seconds);
          }
        },
        width: '98%'
      });
  } else if($('.slideshow_practice_technique').length > 0) {
    slide = $('.slideshow_practice_technique').first()
    minutes = parseInt(slide.attr('minutes')) || 0;
    seconds = parseInt(slide.attr('seconds')) || 1;
    Practices.resetCountdown(minutes, seconds);
  }
<% end %>