<div id='controls'>
  <div id="main_controls">
    <%= link_to t('actions.edit'), practice_path(@practice), :class => 'medium blue awesome' %>
    <%= link_to_function t('actions.preferences'), "$('#play_preferences_dialog').dialog('open');", :class => 'medium blue awesome' %>
  </div>
  <div id="play_controls">
    <%= link_to content_tag(:span, t('actions.previous'), :id => 'prev'), "#", :class => "small orange awesome" %>
    <%= link_to_function t('actions.pause'), "$('#countdown').countdown('pause');", :class => 'small orange awesome' %>
    <div id="countdown"></div>
    <%= link_to_function t('actions.play'), "$('#countdown').countdown('resume');", :class => 'small orange awesome' %>
    <%= link_to content_tag(:span, t('actions.next'), :id => 'next'), "#" , :class => 'small orange awesome' %>
  </div>
</div>
<div id='slideshow_practice_techniques' style='width: auto;'>
  <% @practice.practice_parts.each do |practice_part| %>
  <% practice_part.practice_techniques.each do |practice_technique| %>
    <%= render :partial => 'play_practice_technique', :locals => {:practice_technique => practice_technique} %>
    <% if practice_technique.compensate? %>
      <%= render :partial => 'play_practice_technique', :locals => {:practice_technique => practice_technique, :compensation => true} %>
    <% end %>
  <% end %>
  <% end %>
</div>

<div id='play_preferences_dialog' title='<%= t('practices.play.play_preferences_dialog.title') %>' style="display:none">
  <%= render :partial => 'practices/play_preferences_dialog_form' %>
</div>

<%= javascript_tag do %>
  $(document).ready(function(){
  $("#jpId").jPlayer( {
    ready: function () {
      this.element.jPlayer("setFile", "/sounds/<%= @practice.sound_filename %>.mp3", "/sounds/<%= @practice.sound_filename %>.ogg"); // Defines the mp3
      this.element.jPlayer("onSoundComplete", function() {
        this.element.jPlayer("setFile", "/sounds/<%= @practice.sound_filename %>.mp3", "/sounds/<%= @practice.sound_filename %>.ogg"); // Defines the mp3
      });
    },
    nativeSupport: true,
    oggSupport: true,
    swfPath: "/"
  });
  });

  $('#play_preferences_dialog').dialog({
    autoOpen: false,
    modal: true,
    buttons: {
      '<%=t('actions.save')%>': function() {
        $.ajax({
            type:'put',
            dataType: 'script',
            data: $('#play_preferences_dialog form').serialize(),
            url: $('#play_preferences_dialog form').attr('action'),
            success: function() {
              window.location.reload()
            }
        });
      },
      '<%=t('actions.cancel')%>': function() {
        $('#play_preferences_dialog').dialog('close');
      }
    }
  });
  $('#slideshow_practice_techniques').cycle({
    prev:    '#prev',
    next:    '#next',
    timeout: 0,
    after: function(currSlideElement, nextSlideElement, options, forwardFlag) {
      minutes = parseInt($(nextSlideElement).attr('minutes')) || 0;
      seconds = parseInt($(nextSlideElement).attr('seconds')) || 1;
      Practices.resetCountdown(minutes, seconds);
    },
    nowrap: true,
    fit: 1,
    width: '99.9%'
  });
<% end %>