<div id="countdown"></div>
<div id='slideshow_practice_techniques' style='width: auto;'>
  <% @practice.practice_techniques.each do |practice_technique| %>
    <div id='<%= dom_id practice_technique %>' class='slideshow_practice_technique' minutes=<%= practice_technique.minutes %> seconds=<%= practice_technique.seconds %>>
      <div id='main_panel'>
        <%= image_tag practice_technique.technique.photo.url %>
        <h2><%= practice_technique.technique.name %></h2>
      </div>
      <div id='info_panel'>
        <h3>Description</h3>
        <p><%= practice_technique.technique.description || 'No description'  %></p>
        <h3>Observations</h3>
        <p><%= practice_technique.observations || 'No observations' %></p>
        <h3>Associated techniques</h3>
        <% if practice_technique.techniques.empty? %>
          <p>No associated techniques</p>
        <% end %>
        <ul class='associated_techniques'>
          <% practice_technique.techniques.each do |associated_technique| %>
          <li class='associated_technique'>
            <%= image_tag associated_technique.photo.url(:thumb) %>
            <h4><%= associated_technique.name %></h4>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>


<%= javascript_tag do %>
  $('#slideshow_practice_techniques').cycle({
    delay: (parseInt($('#slideshow_practice_techniques .slideshow_practice_technique').first().attr('minutes'))*60 + parseInt($('#slideshow_practice_techniques .slideshow_practice_technique').first().attr('seconds')))*1000 - 2000,
    timeoutFn: function(current, next, options, fwd) {
      minutes = parseInt($(next).attr('minutes')) || 0
      seconds = parseInt($(next).attr('seconds')) || 1
      duration = minutes*60 + seconds;
      return duration*1000 + <%= @practice.delay*1000 %>; // add an extra second to account for transition
    },
    fx: 'all',
    speed: <%= @practice.delay*1000 %>,
    after: function(currSlideElement, nextSlideElement, options, forwardFlag) {
      minutes = parseInt($(nextSlideElement).attr('minutes')) || 0
      seconds = parseInt($(nextSlideElement).attr('seconds')) || 1;
      $('#countdown').counter({min:minutes, sec:seconds, onFinish: function() {$.sound.play('/ping.wav');}});
    },
    fit: 1,
    width: '99.9%'
  });
<% end %>