<ul id='practice_actions' class='actions'>
  <li>
    <%= link_to t('actions.play'), play_practice_path, :class => 'blue medium awesome' %>
  </li>
  <li><%= link_to_function t('actions.play_preferences'), "$('#play_preferences_dialog').dialog('open');", :class => 'medium blue awesome' %></li>
  <li><%= link_to t('actions.add_to_calendar'), new_practice_event_path, :class => 'blue medium awesome', :id => "#{dom_id @practice}_add_to_calendar_link" %>
    <% unless current_user.calendar_subscription_check(current_user.subscription.plan) %>
      <% javascript_tag do %>
        $('#<%= dom_id @practice %>_add_to_calendar_link').click(function() {
          $.ajax({
            type:'get',
            data: 'practice_event[practice_id]=<%= @practice.id %>',
            dataType: 'script',
            url: '/practice_events/new'
          });
          return false;
        });
      <% end %>
    <% end %>
  </li>
</ul>

<div id='practice_data'>
  <p>
    <b><%= Practice.human_attribute_name :name %>:</b><%= field_help t('practice.help.name') %>
    <%= jeditable_field(:practice, :name) %>
  </p>

  <p>
    <b><%= Practice.human_attribute_name :description %>:</b><%= field_help t('practice.help.description') %>
    <%= jeditable_field(:practice, :description) %>
  </p>

  <p>
    <b><%= Practice.human_attribute_name :total_time %>:</b><%= field_help t('practice.help.total_time') %>
    <span id='practice_time'><%= t('practice.time_format', :minutes =>@practice.total_time / 60, :seconds => @practice.total_time % 60 )%></span>
  </p>
</div>
<div id='practice_editor'>
  <div id='sidebar'>
    <div class='ui-accordion ui-widget ui-helper-reset ui-accordion-icons'>
      <form id='quicksearch' method="get" class='ui-accordion-header ui-helper-reset ui-state-default ui-corner-all'>
        <div>
          <input type="text" value="" name="q" id="q" />
        </div>
      </form>
    </div>
    <div id="techniques_accordion">
      <% TechniqueType.all.each do |technique_type| %>
        <h3 symbol='<%= technique_type.symbol %>'><a href="#"><%= technique_type.name %></a></h3>
        <div id='<%= technique_type.symbol %>_techniques_viewport' class='techniques-viewport'>
          <p><%= t('practices.show.loading') %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div id="practice_parts">
    <ul>
      <% @practice.practice_parts.each do |pp| %>
        <li part_id="<%= pp.id %>" id="practice_part_<%= pp.id %>"><a href="#part-techniques-<%= pp.id %>"><%= pp.part.name %></a> <span class="ui-icon ui-icon-close">Remove Tab</span></li>
      <%end %>
      <button id="add_tab">Add Anga</button>
    </ul>

    <% @practice.practice_parts.each do |pp| %>
        <%= render :partial => 'practice_part', :locals => {:practice => @practice, :practice_part => pp} %>
    <% end %>
  </div>
  <div id='created_practice_technique'></div>
</div>

<div id='play_preferences_dialog' title='<%= t('practices.play.play_preferences_dialog.title') %>' style="display:none">
  <%= render :partial => 'practices/edit_preferences_dialog_form' %>
</div>

<%= render :partial => 'shared/edit_practice_technique_dialog' %>
<%= render :partial => 'shared/confirm_dialog' %>
<%= render :partial => 'shared/new_event_dialog' %>
<%= render :partial => 'shared/new_practice_part_dialog' %>


<%= javascript_tag do %>
  $(document).ready(function(){
    // First, we must tell jStore where to find the HTML file which embeds our flash script.
    // If you move the jStore.swf or jStore.Flash.html files out of their default directories (document root),
    // use this variable to define where to access the .html file. Within the .html file, you can set up the
    // path to the .swf file.
    // Then, set up the default engine we wish to use.
    jQuery.extend(jQuery.jStore.defaults, {
        flash: 'jStore.Flash.html'
    })

    // Finally, we trigger jStore's load function. This is a new step in the
    // activation procedure of jStore, since Version 1.1
    $(function(){
        jQuery.jStore.load();
    });

    // Resize window to fit
    ff_diff = $.browser.mozilla ? 2 : 0;
    $('#practice_editor .part-techniques').height($(window).height() - $('#practice_data').height() - $('#header').height() - $('#practice_actions').height() - $('#notifications').height() - 140 + ff_diff);
    $('#techniques_accordion .techniques-viewport').height($(window).height() - $('#practice_data').height() - $('#header').height() - $('#practice_actions').height() - $('#notifications').height() - 215);
    $(window).resize(function() {
      $('#practice_editor .part-techniques').height($(window).height() - $('#practice_data').height() - $('#header').height() - $('#practice_actions').height() - $('#notifications').height() - 140 + ff_diff);
      $('#techniques_accordion .techniques-viewport').height($(window).height() - $('#practice_data').height() - $('#header').height() - $('#practice_actions').height() - $('#notifications').height() - 215);
    });

    // Initialize play preferences dialog
    $('#play_preferences_dialog').dialog({
      autoOpen: false,
      modal: true,
      buttons: {
        '<%=t('actions.save')%>': function() {
          $.ajax({
            type:'put',
            dataType: 'script',
            data: $('#play_preferences_dialog form').serialize(),
            url: $('#play_preferences_dialog form').attr('action'),
            success: function() {
              $('#play_preferences_dialog').dialog('close');
            }
          });
        },
        '<%=t('actions.cancel')%>': function() {
          $('#play_preferences_dialog').dialog('close');
        }
      }
    });

    // Initialize quick search
    var qs = $('#q').quicksearch('.techniques-list .technique', {selector: 'h3'});

    // Start loading ásanas

    jQuery.jStore.ready(function(engine){
    engine.ready(function() {
    cached_asanas = jQuery.jStore.get('asana');
    cached_techniques_token = jQuery.jStore.get('techniques_token');
    actual_techniques_token = '<%= ENV['TECHNIQUES_TOKEN'] %>';
    if( cached_techniques_token && actual_techniques_token == cached_techniques_token && cached_asanas) {
        $('#asana_techniques_viewport').html(cached_asanas);
        Practices.accordion_draggable();
        qs.cache();
    } else {
        $.ajax({
          type:'get',
          data: { 'symbol': 'asana' },
          dataType: 'html',
          url: '/techniques',
          success: function(data){
            jQuery.jStore.set('asana', data);
            jQuery.jStore.set('techniques_token', actual_techniques_token);
            cached_asanas = data
            $('#asana_techniques_viewport').html(cached_asanas);
            Practices.accordion_draggable();
            qs.cache();
          }
        });
    }
    })});

    $('#add_tab').click(function() {$('#new_practice_part_dialog').dialog('open');});
    $('#add_tab').button({icons: {secondary: 'ui-icon-circle-plus'}});
    $('#add_tab').removeClass('ui-corner-all').addClass('ui-corner-top');
    $('#practice_parts').tabs({tabTemplate: '<li id="new_practice_part"><a href="#{href}">#{label}</a> <span class="ui-icon ui-icon-close">Remove Tab</span></li>'})
        .find(".ui-tabs-nav").sortable({
            axis:'x',
            update: function(){
              $.ajax({
                type: 'post',
                data: $('#practice_parts .ui-tabs-nav').sortable('serialize') + '&practice_id=<%=@practice.id-%>',
                dataType: 'script',
                url: '<%= sort_practice_practice_parts_path(@practice) %>'
              });
            }
    });


    $('.ui-icon-close').live('click', function(e) {
      practice_part_id = $(e.target).parent().attr('part_id');
      $('#confirm_dialog').dialog({
        resizable: false,
        height:140,
        modal: true,
        buttons: {
        '<%= t('actions.delete') %>': function() {
            $.ajax({
                type:'post',
                data: { '_method': 'delete' },
                dataType: 'json',
                url: '/practices/<%= @practice.id %>/practice_parts/' + practice_part_id,
                success: function(data) {
                  $('#practice_part_'+ practice_part_id).fadeOut('slow', function() {
                      $('#practice_part_'+ practice_part_id).remove();
                  });
                }
            });
            $(this).dialog('close');
          },
         '<%= t('actions.cancel') %>': function() {
            $(this).dialog('close');
          }
        }
      });
    });

    // Initilize techniques accordion
    $("#techniques_accordion").accordion({ changestart: function(event, ui) {
      technique_type_symbol = ui.newHeader.attr('symbol');
      if($('#' + technique_type_symbol + '_techniques_list').length == 0) {
        cached_techniques = jQuery.jStore.get(technique_type_symbol);
        if(cached_techniques) {
            $('#' + technique_type_symbol + '_techniques_viewport').html(cached_techniques);
            Practices.accordion_draggable();
            qs.cache();
        } else {
            $.ajax({
              type:'get',
              data: { 'symbol': technique_type_symbol },
              dataType: 'html',
              url: '/techniques',
              success: function(data){
                jQuery.jStore.set(technique_type_symbol, data);
                cached_techniques = data
                $('#' + technique_type_symbol + '_techniques_viewport').html(cached_techniques);
                Practices.accordion_draggable();
                qs.cache();
              }
            });
        }
      }
    }});
  });
<% end %>