<noscript>
  This view requires javascript enabled if you want to edit, enable it in your browser or go to the <%= link_to 'edit page', edit_practice_path(@practice) %> 
</noscript>

<p>
  <b>Name:</b>
  <%= jeditable_field(:practice, :name) %>
</p>

<p>
  <b>Description:</b>
  <%= jeditable_field(:practice, :description) %>
</p>

<p>
  <b>Delay:</b>
  <%= jeditable_field(:practice, :delay) %>
</p>
<div id='practice_editor'>
  <div id='sidebar'>
    <div class='ui-accordion ui-widget ui-helper-reset ui-accordion-icons'>
      <form id='quicksearch' method="get" class='ui-accordion-header ui-helper-reset ui-state-default ui-corner-all'>
        <div>
          <input type="text" value="" name="q" id="q" />
        </div>
      </form>
    </div>
    <div id="techniques_accordion">
      <% TechniqueType.all.each do |technique_type| %>
        <h3><a href="#"><%= technique_type.name %></a></h3>
        <div class='techniques-viewport'>
          <div class='techniques-list'>
            <% technique_type.techniques.each do |technique| %>
              <div class='<%= technique_type.symbol %> technique practice_technique' technique_id='<%= technique.id %>'><%= image_tag technique.photo.url(:thumb) %><h3><%= technique.name %></h3></div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id='practice_techniques'>
    <% @practice.practice_techniques.each do |practice_technique| %>
      <%= render :partial => 'practice_technique', :locals => {:practice_technique => practice_technique} %>
    <% end %>
  </div>
  <div id='created_practice_technique'></div>
</div>

<%= javascript_tag do %>
  $(document).ready(function(){
    $('#q').quicksearch('.techniques-list div');
  });
<% end %>

<%= javascript_tag do %>
$('#practice_techniques').sortable(
  {
    revert: 'invalid',
    opacity: 0.4,
    update: function(){
      $.ajax({
          type: 'post',
          data: $('#practice_techniques').sortable('serialize') + '&practice_id=<%=@practice.id-%>',
          dataType: 'script',
          url: '<%= sort_practice_practice_techniques_path(@practice) %>'})
      }
    }
  );
<% end %>

<%= javascript_tag do %>
  $('#techniques_accordion .asana').draggable({
    scroll: false,
    connectToSortable: '#practice_techniques',
    helper: 'clone',
    appendTo : 'body',
    revert: 'invalid',
    drag: function(event, ui) {
      ui.helper.css({width: '150px', height: '150px'});
    }
  });

  $('#techniques_accordion .mudra').draggable({
    scroll: false,
    helper: 'clone',
    appendTo : 'body',
    revert: 'invalid',
    drag: function(event, ui) {
      ui.helper.css({border:'1px solid black'});
    }
  });
<% end %>

<%= javascript_tag do %>
$("#practice_techniques").droppable({
  accept: '.asana',
  drop: function(event, ui) {
    if(ui.draggable.hasClass('ui-draggable')) {
      ui.draggable.removeClass('ui-draggable').removeClass('technique').addClass('practice_technique');
      // create new practice technique via synchronous ajax
      $.ajax({
          type: 'post',
          async: false,
          data: 'practice_id=<%=@practice.id-%>&practice_technique[technique_id]=' + ui.draggable.attr('technique_id'),
          dataType: 'script',
          beforeSend: function() {
            // inform the user we're working
            ui.draggable.addClass('working');
          },
          complete: function(request){
            ui.draggable.removeClass('working');
            ui.draggable.attr('id',$('#created_practice_technique .practice_technique').attr('id'));
            ui.draggable.attr('practice_technique_id', $('#created_practice_technique .practice_technique').attr('practice_technique_id'));
            ui.draggable.html($('#created_practice_technique .practice_technique').html());
            $('#created_practice_technique').children().remove();
            $('#' + ui.draggable.attr('id')).droppable({
              accept: '.mudra',
              drop: function(event, mudra_ui) {
                if(mudra_ui.draggable.hasClass('ui-draggable')) {
                  // associate new practice technique via ajax
                  $.ajax({
                      type: 'put',
                      data: 'practice_id=<%= @practice.id-%>&id=' + ui.draggable.attr('practice_technique_id') + '&practice_technique[add_technique_id]=' + mudra_ui.draggable.attr('technique_id'),
                      dataType: 'script',
                      url: '/practices/<%= @practice.id-%>/practice_techniques/' + ui.draggable.attr('practice_technique_id')});
                }
              }
            });
          },
          url: '<%= practice_practice_techniques_path(@practice) %>'});
    }
  }
});


<% end %>

<%= javascript_tag do %>
  $("#techniques_accordion").accordion();
<% end %>

<%= javascript_tag do %>
  $('#delete_link').live('click', function() {
    practice_technique_id = $(this).parents('.practice_technique').attr('practice_technique_id');
    $('#confirm_dialog').dialog({
      resizable: false,
      height:140,
      modal: true,
      buttons: {
        'Delete': function() {
          $.ajax({
              type:'post',
              data: { '_method': 'delete' },
              dataType: 'json',
              url: '/practices/<%= @practice.id %>/practice_techniques/' + practice_technique_id,
              success: function(data) {
                $('#practice_technique_'+practice_technique_id).fadeOut('slow', function() {
                    $('#practice_technique_'+practice_technique_id).remove();
                });
              }
          });
          $(this).dialog('close');
        },
        Cancel: function() {
          $(this).dialog('close');
        }
      }
    });
  });

  $('#edit_link').live('click', function() {
    practice_technique_id = $(this).parents('.practice_technique').attr('practice_technique_id');
    $.ajax({
        type:'get',
        dataType: 'script',
        url: '/practices/<%= @practice.id %>/practice_techniques/' + practice_technique_id + '/edit'
    });
  });
<% end %>
<div id='edit_dialog' style='display:none'></div>
<div id='confirm_dialog'></div>

<%= javascript_tag do %>
  $('#techniques_accordion').height($(window).height() - 300);
  $('#practice_techniques').height($(window).height() - 200);
  $(window).resize(function() {
    $('#techniques_accordion .techniques-viewport').height($(window).height() - 310);
    $('#practice_techniques').height($(window).height() - 200);
  });
<% end %>