<ul id='practice_actions' class='actions'>
  <li>
    <%= link_to t('actions.play'), play_practice_path, :class => 'blue medium awesome' %>
  </li>
  <% if false %>
  <li><%= link_to t('actions.add_to_calendar'), new_practice_event_path, :class => 'blue medium awesome', :id => "#{dom_id @practice}_add_to_calendar_link" %>
    <% unless current_user.calendar_subscription_check(current_user.subscription.plan) %>
      <% javascript_tag do %>
        $('#<%= dom_id @practice %>_add_to_calendar_link').click(function() {
          $.ajax({
            type:'get',
            data: 'practice_event[practice_id]=<%= @practice.id %>',
            dataType: 'script',
            url: '/practice_events/new'
          });
          return false;
        });
      <% end %>
    <% end %>
  </li>
  <% end %>
</ul>

<div id='practice_data'>
  <p>
    <b><%= Practice.human_attribute_name :name %>:</b><%= field_help t('practice.help.name') %>
    <%= jeditable_field(:practice, :name) %>
  </p>

  <p>
    <b><%= Practice.human_attribute_name :description %>:</b><%= field_help t('practice.help.description') %>
    <%= jeditable_field(:practice, :description) %>
  </p>
</div>
<div id='practice_editor'>
  <div id='sidebar'>
    <div class='ui-accordion ui-widget ui-helper-reset ui-accordion-icons'>
      <form id='quicksearch' method="get" class='ui-accordion-header ui-helper-reset ui-state-default ui-corner-all'>
        <div>
          <input type="text" value="" name="q" id="q" />
        </div>
      </form>
    </div>
    <div id="techniques_accordion">
      <% TechniqueType.all.each do |technique_type| %>
        <h3 symbol='<%= technique_type.symbol %>'><a href="#"><%= technique_type.name %></a></h3>
        <div id='<%= technique_type.symbol %>_techniques_viewport' class='techniques-viewport'>
          <p><%= t('practices.show.loading') %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div id='practice_techniques'>
    <% @practice.practice_techniques.each do |practice_technique| %>
      <%= render :partial => 'practice_technique', :locals => {:practice_technique => practice_technique} %>
    <% end %>
  </div>
  <div id='created_practice_technique'></div>
</div>

<%= javascript_tag do %>
  $(document).ready(function(){
    $('#practice_editor #practice_techniques').height($(window).height() - $('#practice_data').height() - $('#header').height() - $('#practice_actions').height() - $('#notifications').height() - 75 );
    $('#techniques_accordion .techniques-viewport').height($(window).height() - $('#practice_data').height() - $('#header').height() - $('#practice_actions').height() - $('#notifications').height() - 215);
    $(window).resize(function() {
      $('#practice_editor #practice_techniques').height($(window).height() - $('#practice_data').height() - $('#header').height() - $('#practice_actions').height() - $('#notifications').height() - 75);
      $('#techniques_accordion .techniques-viewport').height($(window).height() - $('#practice_data').height() - $('#header').height() - $('#practice_actions').height() - $('#notifications').height() - 215);
    });
    var qs = $('#q').quicksearch('.techniques-list .technique', {selector: 'h3'});
    $.ajax({
      type:'get',
      data: { 'symbol': 'asana' },
      dataType: 'script',
      url: '/techniques',
      complete: function(){
        Practices.accordion_draggable();
        qs.cache();
      }
    });
    $('#practice_techniques').sortable(
    {
      revert: 'invalid',
      opacity: 0.4,
      update: function(){
        $.ajax({
            type: 'post',
            data: $('#practice_techniques').sortable('serialize') + '&practice_id=<%=@practice.id-%>',
            dataType: 'script',
            url: '<%= sort_practice_practice_techniques_path(@practice) %>'})
        }
      }
    );

    $("#practice_techniques").droppable({
      accept: '.asana',
      drop: function(event, ui) {
        if(ui.draggable.hasClass('ui-draggable')) {
          ui.draggable.removeClass('ui-draggable').removeClass('technique').addClass('practice_technique');
          // create new practice technique via synchronous ajax
          $.ajax({
              type: 'post',
              async: false,
              data: 'practice_id=<%=@practice.id-%>&practice_technique[technique_id]=' + ui.draggable.attr('technique_id'),
              dataType: 'script',
              beforeSend: function() {
                // inform the user we're working
                ui.draggable.addClass('working');
              },
              complete: function(request){
                ui.draggable.removeClass('working');
                ui.draggable.attr('id',$('#created_practice_technique .practice_technique').attr('id'));
                ui.draggable.attr('practice_technique_id', $('#created_practice_technique .practice_technique').attr('practice_technique_id'));
                ui.draggable.html($('#created_practice_technique .practice_technique').html());
                $('#created_practice_technique').children().remove();
                $('#' + ui.draggable.attr('id')).droppable({
                  accept: '.mudra, .manos',
                  drop: function(event, mudra_ui) {
                    if(mudra_ui.draggable.hasClass('ui-draggable')) {
                      // associate new practice technique via ajax
                      $.ajax({
                          type: 'put',
                          data: 'practice_id=<%= @practice.id-%>&id=' + ui.draggable.attr('practice_technique_id') + '&practice_technique[add_technique_id]=' + mudra_ui.draggable.attr('technique_id'),
                          dataType: 'script',
                          url: '/practices/<%= @practice.id-%>/practice_techniques/' + ui.draggable.attr('practice_technique_id')});
                    }
                  }
                });
              },
              url: '<%= practice_practice_techniques_path(@practice) %>'});
        }
      }
    });
    $("#techniques_accordion").accordion({ changestart: function(event, ui) {
      if($('#' + ui.newHeader.attr('symbol') + '_techniques_list').length == 0) {
        $.ajax({
          type:'get',
          data: { 'symbol': ui.newHeader.attr('symbol') },
          dataType: 'script',
          url: '/techniques',
          complete: function() {
            Practices.accordion_draggable();
            qs.cache();
          }
        });
      }
    }});
  });
<% end %>

<%= render :partial => 'shared/edit_practice_technique_dialog' %>
<%= render :partial => 'shared/confirm_dialog' %>
<%= render :partial => 'shared/new_event_dialog' %>
