<div id='tips'>
  <%= render :partial => 'practice_tips' %>
</div>

<ul id='practice_actions' class='actions'>
  <li>
    <%= link_to t('actions.play'), play_practice_path, :class => 'blue medium awesome' %>
  </li>
  <li><%= link_to_function t('actions.edit'), "$('#edit_practice_dialog').dialog('open');", :class => 'medium blue awesome' %></li>
  <li><%= link_to t('actions.add_to_calendar'), new_practice_event_path, :class => 'blue medium awesome', :id => "#{dom_id @practice}_add_to_calendar_link" %>
    <% unless current_user.calendar_subscription_check(current_user.subscription.plan) %>
      <% javascript_tag do %>
        $('#<%= dom_id @practice %>_add_to_calendar_link').click(function() {
          $.ajax({
            type:'get',
            data: 'practice_event[practice_id]=<%= @practice.id %>',
            dataType: 'script',
            url: '/practice_events/new'
          });
          return false;
        });
      <% end %>
    <% end %>
  </li>
</ul>

<div id='practice_data'>
  <p>
    <b><%= Practice.human_attribute_name :total_time %>:</b><%= field_help t('practice.help.total_time') %>
    <span id='practice_time'><%= practice_time(@practice) %></span>
  </p>
</div>
<div id='practice_editor'>
  <div id='sidebar'>
    <div class='ui-accordion ui-widget ui-helper-reset ui-accordion-icons'>
      <form id='quicksearch' method="get" class='ui-accordion-header ui-helper-reset ui-state-default ui-corner-all'>
        <div>
          <span class="ui-icon ui-icon-search"></span><input type="text" value="" name="q" id="q" />
        </div>
      </form>
    </div>
    <div id="accordion_container">
      <% unless @practice.practice_parts.empty? %>
        <%= render :partial => 'techniques_accordion', :locals => {:part => @practice.practice_parts.first.part} %>
      <% end %>
    </div>
  </div>
  <div id="practice_parts">
    <ul>
      <% @practice.practice_parts.each do |pp| %>
        <li part_symbol="<%= pp.part.symbol %>" part_id="<%= pp.id %>" primary_technique_type="<%= pp.part.primary_technique_type %>" secondary_technique_types="<%= pp.part.secondary_technique_types %>" id="practice_part_<%= pp.id %>"><a href="#part-techniques-<%= pp.id %>"><%= pp.part.name %></a> <span class="ui-icon ui-icon-close">Remove Tab</span></li>
      <%end %>
      <button id="add_tab"><%= t('practices.show.practice_parts.add') %></button>
    </ul>

    <% @practice.practice_parts.each do |pp| %>
        <%= render :partial => 'practice_part', :locals => {:practice => @practice, :practice_part => pp} %>
    <% end %>
  </div>
  <div id='created_practice_technique'></div>
</div>

<div id='edit_practice_dialog' style="display:none">
  <ul>
    <li><a href="#practice_info"><%= t('practices.edit_practice_dialog.info_tab_title') %></a></li>
    <li><a href="#play_preferences"><%= t('practices.edit_practice_dialog.play_preferences_tab_title') %></a></li>
    <li id="practice-ui-tab-dialog-close"></li>
  </ul>
  <div id="practice_info">
    <%= render :partial => 'practices/practice_info_dialog_form' %>
  </div>
  <div id='play_preferences'>
    <%= render :partial => 'practices/play_preferences_dialog_form' %>
  </div>

</div>

<%= render :partial => 'shared/edit_practice_technique_dialog' %>
<%= render :partial => 'shared/confirm_dialog' %>
<%= render :partial => 'shared/new_event_dialog' %>
<%= render :partial => 'shared/new_practice_part_dialog' %>


<%= javascript_tag do %>
  $(document).ready(function(){
    // First, we must tell jStore where to find the HTML file which embeds our flash script.
    // If you move the jStore.swf or jStore.Flash.html files out of their default directories (document root),
    // use this variable to define where to access the .html file. Within the .html file, you can set up the
    // path to the .swf file.
    // Then, set up the default engine we wish to use.
    jQuery.extend(jQuery.jStore.defaults, {
        flash: 'jStore.Flash.html'
    })

    // Finally, we trigger jStore's load function. This is a new step in the
    // activation procedure of jStore, since Version 1.1
    $(function(){
        jQuery.jStore.load();
    });

    // Resize window to fit
    Practices.adjustEditorSize();

    // Initialize play preferences dialog

      $('#edit_practice_dialog').tabs();
      $('#edit_practice_dialog').dialog({autoOpen: false, modal: true, width: 500, buttons: {
        '<%= t('actions.update') %>': function() {
            if($('#edit_practice_dialog').tabs('option', 'selected') == 0) {
              $.ajax({
                type:'post',
                dataType: 'script',
                url: $('#edit_practice_dialog #practice_info form').attr('action'),
                data: $('#edit_practice_dialog #practice_info form').serialize(),
                success: function(data, textStatus, XMLHttpRequest) {
                    $('#edit_practice_dialog').dialog('close');
                }
              });
            } else {
              $.ajax({
                type:'post',
                dataType: 'script',
                url: $('#edit_practice_dialog #play_preferences form').attr('action'),
                data: $('#edit_practice_dialog #play_preferences form').serialize(),
                success: function(data, textStatus, XMLHttpRequest) {
                    $('#edit_practice_dialog').dialog('close');
                }
              });
            }
          },
        '<%= t('actions.cancel') %>': function() {
            $(this).dialog('close');
          }
        }
      });
      $('#practice-ui-tab-dialog-close').append($('#edit_practice_dialog').siblings('.ui-dialog-titlebar').children('.ui-dialog-titlebar-close'));

    // Initialize quick search
    Practices.init_quicksearch();

    // Start loading first technique type

    jQuery.jStore.ready(function(engine){
    engine.ready(function() {
    technique_type_symbol = '<%=  @practice.practice_parts.first.part.symbol unless @practice.practice_parts.empty? %>'
    actual_techniques_token = '<%= ENV['TECHNIQUES_TOKEN'] %>';
    Practices.load_accordion_techniques(technique_type_symbol, actual_techniques_token);
    })});

    $('#add_tab').click(function() {$('#new_practice_part_dialog').dialog('open');});
    $('#add_tab').button({icons: {secondary: 'ui-icon-circle-plus'}});
    $('#add_tab').removeClass('ui-corner-all').addClass('ui-corner-top');
    $('#practice_parts').tabs({
        tabTemplate: '<li id="new_practice_part"><a href="#{href}">#{label}</a> <span class="ui-icon ui-icon-close">Remove Tab</span></li>',
        panelTemplate: '<div class="part-techniques"></div>',
        select: function(event, ui) {
          $.ajax({
            type:'get',
            data: {'symbol': $(ui.tab).parent().attr('part_symbol')},
            dataType: 'script',
            url: '/parts/1',
            success: function() {
              
            }
          });
          Practices.accordion_draggable('#' + $(ui.panel).attr('id'), $(ui.tab).parent().attr('primary_technique_type'), $(ui.tab).parent().attr('secondary_technique_types'));
        },
        show: function(event, ui) {
          $('#' + $(ui.panel).attr('id')).sortable('refresh');
        }
    }).find(".ui-tabs-nav").sortable({
            axis:'x',
            update: function(){
              $.ajax({
                type: 'post',
                data: $('#practice_parts .ui-tabs-nav').sortable('serialize') + '&practice_id=<%=@practice.id-%>',
                dataType: 'script',
                url: '<%= sort_practice_practice_parts_path(@practice) %>'
              });
              $('#practice_parts').tabs('refreshPositions');
            }
    });

    $('.ui-icon-close').live('click', function(e) {
      index = $('li', $('#practice_parts')).index($(this).parent());
      practice_part_id = $(e.target).parent().attr('part_id');
      $('#confirm_dialog').dialog({
        resizable: false,
        height:140,
        modal: true,
        buttons: {
        '<%= t('actions.delete') %>': function() {
            $.ajax({
                type:'post',
                data: { '_method': 'delete' },
                dataType: 'script',
                url: '/practices/<%= @practice.id %>/practice_parts/' + practice_part_id,
                success: function(data) {
                  $('#practice_parts').tabs('remove', index);
                }
            });
            $(this).dialog('close');
          },
         '<%= t('actions.cancel') %>': function() {
            $(this).dialog('close');
          }
        }
      });
    });

    // Initilize techniques accordion
    Practices.init_accordion();
  });
<% end %>