<div id='tips'>
  <%= render :partial => 'practice_tips' %>
</div>

<div id='practice_data'>
  
</div>
<div id='practice_editor'>
  <div id='sidebar'>
    <div class='ui-accordion ui-widget ui-helper-reset ui-accordion-icons'>
      <form id='quicksearch' method="get" class='ui-accordion-header ui-helper-reset ui-state-default ui-corner-all'>
        <div>
          <span class="ui-icon ui-icon-search"></span><input type="text" value="" name="q" id="q" />
        </div>
      </form>
    </div>
    <div id="accordion_container">
      <% unless @practice.practice_parts.empty? %>
        <%= render :partial => 'techniques_accordion', :locals => {:part => first_part(@practice)} %>
      <% end %>
    </div>
  </div>
  <div id="practice_parts">
    <ul>
      <button id="edit_practice_button" class="ui-button-icon"></button>
      <% @practice.practice_parts.each do |pp| %>
        <li part_symbol="<%= pp.part.symbol %>" part_id="<%= pp.id %>" primary_technique_type="<%= pp.part.primary_technique_type %>" secondary_technique_types="<%= pp.part.secondary_technique_types %>" id="practice_part_<%= pp.id %>"><a href="#part-techniques-<%= pp.id %>"><%= pp.part.name %></a> <span class="ui-icon ui-icon-close">Remove Tab</span></li>
      <%end %>
      <button id="add_tab" class="ui-button-icon"></button>
    </ul>
    <% @practice.practice_parts.each do |pp| %>
        <%= render :partial => 'practice_part', :locals => {:practice => @practice, :practice_part => pp} %>
    <% end %>
  </div>
  <div id='created_practice_technique'></div>
</div>

<div id='edit_practice_dialog' title='<%= t('practices.show.edit_practice_dialog.title') %>'>
  <%= render :partial => 'practices/practice_info_dialog_form' %>
</div>

<%= render :partial => 'shared/edit_practice_technique_dialog' %>
<%= render :partial => 'shared/confirm_dialog' %>
<%= render :partial => 'shared/new_event_dialog' %>
<%= render :partial => 'shared/new_practice_part_dialog' %>


<%= javascript_tag do %>
  $(document).ready(function(){
    // Resize window to fit
    Practices.adjustEditorSize();

    // Initialize edit practice dialog
      $('#edit_practice_dialog').dialog({autoOpen: false, modal: true, width: 500, buttons: {
        '<%= t('actions.update') %>': function() {
          $.ajax({
            type:'post',
            dataType: 'script',
            url: $('#edit_practice_dialog form').attr('action'),
            data: $('#edit_practice_dialog form').serialize(),
            success: function(data, textStatus, XMLHttpRequest) {
                $('#edit_practice_dialog').dialog('close');
            }
          });
        },
        '<%= t('actions.cancel') %>': function() {
            $(this).dialog('close');
          }
        }
      });


    // Initialize quick search
    Practices.init_quicksearch();

    // Start loading first technique type

    technique_type_symbol = '<%= first_part(@practice).symbol %>'
    asana_index = <%= first_part_index(@practice) %>
    Practices.load_accordion_techniques(technique_type_symbol);
    $('#add_tab').button({icons: {primary: 'ui-icon-circle-plus'}, text: false});
    $('#edit_practice_button').button({icons: {primary: 'ui-icon-gear'}, text: false}).click(function() {$('#edit_practice_dialog').dialog('open');});
    <% if current_user.subscription_plan == SubscriptionPlan.default_plan %>
        $('#add_tab').button({ disabled: true });
    <% else %>
        $('#add_tab').click(function() {$('#new_practice_part_dialog').dialog('open');});
    <% end %>
    $('#add_tab, #edit_practice_button').removeClass('ui-corner-all').addClass('ui-corner-top');
    $('#practice_parts').tabs({
        selected: asana_index,
        disabled: <%= disabled_parts(@practice) %>,
        tabTemplate: '<li id="new_practice_part"><a href="#{href}">#{label}</a> <span class="ui-icon ui-icon-close">Remove Tab</span></li>',
        panelTemplate: '<div class="part-techniques"></div>',
        select: function(event, ui) {
          $.ajax({
            type:'get',
            data: {'symbol': $(ui.tab).parent().attr('part_symbol')},
            dataType: 'script',
            url: '/parts/1',
            success: function() {
              
            }
          });
          Practices.accordion_draggable('#' + $(ui.panel).attr('id'), $(ui.tab).parent().attr('primary_technique_type'), $(ui.tab).parent().attr('secondary_technique_types'));
        },
        show: function(event, ui) {
          $('#' + $(ui.panel).attr('id')).sortable('refresh');
        }
    }).find(".ui-tabs-nav").sortable({
            axis:'x',
            update: function(){
              $.ajax({
                type: 'post',
                data: $('#practice_parts .ui-tabs-nav').sortable('serialize') + '&practice_id=<%=@practice.id-%>',
                dataType: 'script',
                url: '<%= sort_practice_practice_parts_path(@practice) %>'
              });
              $('#practice_parts').tabs('refreshPositions');
            }
    });

    $('.ui-icon-close').live('click', function(e) {
      index = $('li', $('#practice_parts')).index($(this).parent());
      practice_part_id = $(e.target).parent().attr('part_id');
      $('#confirm_dialog').dialog({
        resizable: false,
        height:140,
        modal: true,
        buttons: {
        '<%= t('actions.delete') %>': function() {
            $.ajax({
                type:'post',
                data: { '_method': 'delete' },
                dataType: 'script',
                url: '/practices/<%= @practice.id %>/practice_parts/' + practice_part_id,
                success: function(data) {
                  $('#practice_parts').tabs('remove', index);
                }
            });
            $(this).dialog('close');
          },
         '<%= t('actions.cancel') %>': function() {
            $(this).dialog('close');
          }
        }
      });
    });

    // Initilize techniques accordion
    Practices.init_accordion();
    <% if current_user.subscription_plan == SubscriptionPlan.default_plan %>
        $.each( $("#techniques_accordion .ui-state-default"), function(i, l){
            if(i!=0){
                $(l).addClass('ui-state-disabled');
                $(l).children('a').click(function(event){ event.stopPropagation();});
            };
        });
    <% end %>
  });
<% end %>
