<h2>Transaction History</h2>
<ul>
	<% @transactions.each do |tx| %>
	  <li> <%= tx.created_at %> : <%= tx.action.titleize %> <%= tx.amount.format(:symbol => true)  if tx.amount %> <%= tx.message unless tx.success? %></li>
	<% end %>
</ul>
<%= link_to "Back", subscription_path(:current) %>
