<% if @practice_event.new_record? && @practice_event.practice %>
  <%= f.hidden_field :practice_id %>
<% else %>
  <div class="field">
    <%= f.label :practice_id %><% field_help t('practice_event.help.practice') %>
    <br />
    <%= f.collection_select :practice_id, current_user.practices, :id, :name %>
    <% unless @practice_event.new_record? %>
      <%= link_to_function t('actions.show'), "window.location.href = '/practices/' + $('#practice_event_practice_id').val();", :class => 'small orange awesome' %>
      <%= link_to_function t('actions.play'), "window.location.href = '/practices/' + $('#practice_event_practice_id').val() + '/play';", :class => 'small orange awesome' %>
    <% end %>
  </div>
<% end %>
<div class="field">
  <%= f.label :date %><% field_help t('practice_event.help.start') %>
  <br />
  <%= f.text_field :start_string %>
</div>

<%= javascript_tag do %>
$('#practice_event_start_string').datepicker({
  dateFormat: 'yy-mm-dd',
  time24h: true,
  showTime: true,
  beforeShow: function(){
    $("#ui-timepicker-div, #ui-datepicker-div").css({display: 'inline-block', zIndex: parseInt($(".ui-dialog").css('z-index')) + 3});
  }
});
<% end %>