<div class="field">
  <%= f.label :practice_id %><span class='ui-state-default ui-corner-all help'><span class='ui-icon ui-icon-help' title='Choose the practice.'>(?)</span></span>
  <br />
  <%= f.collection_select :practice_id, current_user.practices, :id, :name %>
</div>

<div class="field">
  <%= f.label :start_string %><span class='ui-state-default ui-corner-all help'><span class='ui-icon ui-icon-help' title='Date and time for the event.'>(?)</span></span>
  <br />
  <%= f.text_field :start_string %>
</div>

<%= javascript_tag do %>
$('#practice_event_start_string').datepicker({
  dateFormat: 'yy-mm-dd',
  time24h: true,
  showTime: true,
  beforeShow: function(){
    $("#ui-timepicker-div, #ui-datepicker-div").css({display: 'inline-block', zIndex: parseInt($(".ui-dialog").css('z-index')) + 1});
  }
});
<% end %>