<% if @practice_event.new_record? && @practice_event.practice %>
  <%= f.hidden_field :practice_id %>
<% else %>
  <div class="field">
    <%= f.label :practice %><%= field_help t('practice_event.help.practice') %>
    <br />
    <%
       @practices = current_user.all_practices
       unless @practice_event.new_record?
        @practices << @practice_event.practice unless @practices.include? @practice_event.practice
       end
    %>
    <%= f.collection_select :practice_id, @practices, :id, :name %>
    <% unless @practice_event.new_record? || (@practice_event.practice.user == current_user && @practice_event.practice.state == 'archived')%>
      <div id="event_practice_actions">
        <%= link_to_function t('actions.show'), "window.location.href = '/practices/' + $('#practice_event_practice_id').val();", :class => 'small blue awesome' if @practice_event.practice.user == current_user %>
        <%= link_to_function t('actions.play'), "window.location.href = '/practices/' + $('#practice_event_practice_id').val() + '/play';", :class => 'small blue awesome' %>
      </div>
    <% end %>
  </div>
<% end %>
<div class="field">
  <%= f.label :start %><%= field_help t('practice_event.help.start') %>
  <br />
  <span class="ui-icon ui-icon-calendar"></span><%= f.text_field :start_string %>
</div>

<%= javascript_tag do %>
$('#practice_event_start_string').datepicker({
  dateFormat: 'yy-mm-dd',
  time24h: true,
  showTime: true,
  beforeShow: function(){
    $("#ui-timepicker-div, #ui-datepicker-div").css({display: 'inline-block', zIndex: parseInt($(".ui-dialog").css('z-index')) + 3});
  }
});
<% end %>