<% if @practice_events.empty? && !current_user.calendar_subscription_check(current_user.subscription.plan)%>
  <div class="notice ui-state-highlight ui-corner-all">
    <p>
      <span class="ui-icon ui-icon-lightbulb" style="float: left; margin-right: .3em;"></span>
      <%= t('practice_events.index.create_practice_tip') %>
    </p>
  </div>
<% end %>

<ul class='actions'>
  <li>
    <%= link_to t('practice_events.index.new_practice_event'), new_practice_event_path, :class => 'blue medium awesome', :id => 'new_practice_event_link'%>
    <% unless current_user.calendar_subscription_check(current_user.subscription.plan) %>
      <%= javascript_tag do %>
        $('#new_practice_event_link').click(function() {
          $.ajax({
            type:'get',
            dataType: 'script',
            url: '/practice_events/new'
          });
          return false;
        });
      <% end %>
    <% end %>
  </li>
  <li>
    <%= link_to_function t('practices.index.new_invitation'), "$('#new_invitation_dialog').dialog('open')", :class => 'blue medium awesome' %>
  </li>
</ul>
<div id='calendar'></div>
<%= javascript_tag do %>
$('#calendar').fullCalendar({
  header: {
    left: 'prev',
    center: 'title',
    right: 'next'
  },
  theme: 'ui-lightning',
  editable: false,
  events: [
    <% events_array = [] %>
    <% @practice_events.each do |event| %>
      <% events_array << js_event(event) %>
    <% end %>
    <%= events_array.join(',') %>
  ],
  eventClick: function( event, jsEvent, view ) {
    $('#calendar').fullCalendar( 'removeEvents', event.id );
    $.ajax({
      type:'get',
      dataType: 'script',
      url: '/practice_events/' + event.id + '/edit'
    });
  },
  dayClick: function( date, allDay, jsEvent, view ) {
    $.ajax({
      type:'get',
      dataType: 'script',
      url: '/practice_events/new'
    });
  },
  monthNames: [<%= I18n.t("date.month_names").reject {|month| month == nil}.collect {|month|"'#{month}'"}.join(',') %>],
  monthNamesShort: [<%= I18n.t("date.abbr_month_names").reject {|month| month == nil}.collect {|month|"'#{month}'"}.join(',') %>],
  dayNames: [<%= I18n.t("date.day_names").reject {|month| month == nil}.collect {|month|"'#{month}'"}.join(',') %>],
  dayNamesShort: [<%= I18n.t("date.abbr_day_names").reject {|month| month == nil}.collect {|month|"'#{month}'"}.join(',') %>]
});
<% end %>
<%= render :partial => 'shared/new_invitation_dialog' %>
<%= render :partial => 'shared/confirm_dialog' %>
<%= render :partial => 'shared/new_event_dialog' %>
<%= render :partial => 'shared/edit_event_dialog' %>