<%= render :partial => 'shared/functionalities_slideshow' %>
<div class="page-content">
<h2><%= t('devise.sessions.new.title') %></h2>

<%= form_for(resource_name, resource, :url => session_path(resource_name)) do |f| %>
  <%= render :partial => 'shared/sign_in_fields', :locals => {:f => f} %>

  <p><%= f.submit t('devise.sessions.new.submit'), :class=> 'awesome medium blue' %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>
