<%= form_for([:admin, @subscription]) do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :plan %><br />
    <%= f.select :plan, SubscriptionPlan.all.collect {|p| [p.name, p.id ] } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
