<!DOCTYPE html>
<html>
<head>
  <title>Admin <%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag 'jquery-1.4.2.min' %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="user_nav">
  <% if admin_signed_in? %>
    Signed in as <%= current_admin.email %>. Not you?
    <%= link_to "Sign out", destroy_admin_session_path %>
  <% else %>
    <%= link_to "Sign in", new_admin_session_path %>
  <% end %>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<ul class='menu'>
  <li><%= link_to 'Parts', admin_parts_path %></li>
  <li><%= link_to 'Users', admin_users_path %></li>
  <li><%= link_to 'SubscriptionPlans', admin_subscription_plans_path %></li>
  <li><%= link_to 'TechniqueTypes', admin_technique_types_path %></li>
  <li><%= link_to 'TechniqueCategories', admin_technique_categories_path %></li>
  <li><%= link_to 'Techniques', admin_techniques_path %></li>
</ul>

<%= yield %>

</body>
</html>
