<!DOCTYPE html>
<html>
  <head>
    <title>S&aacute;dhana</title>

    <%= stylesheet_link_tag 'ui-lightness/jquery-ui-1.8rc3.custom' %>
    <%= stylesheet_link_tag 'awesome' %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'fullcalendar' %>
    <% if File.exist? File.join(Rails.public_path, "stylesheets/#{controller.controller_name}.css") %>
      <%= stylesheet_link_tag controller.controller_name %>
    <% end %>

    <%= javascript_include_tag 'jquery-1.4.2.min' %>
    <%= javascript_include_tag 'jquery.rails' %>
    <%= javascript_include_tag 'jquery-ui-1.8rc3.custom.min' %>
    <% if false %>
      <%= javascript_include_tag 'jquery.ui.datepicker-es' %>
      <%= javascript_tag do %>
        $.datepicker.regional['es']
      <% end %>
    <% end %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'jquery.jeditable' %>
    <%= javascript_include_tag 'jquery.cycle' %>
    <%= javascript_include_tag 'jcountr' %>
    <%= javascript_include_tag 'jquery.sound' %>
    <%= javascript_include_tag 'fullcalendar' %>
    <%= javascript_include_tag 'timepicker' %>
    <%= javascript_include_tag 'jquery.quicksearch' %>
    <%= javascript_include_tag 'cufon-yui' %>
    <%= javascript_include_tag 'scriptina_400.font' %>

    <% if File.exist? File.join(Rails.public_path, "javascripts/#{controller.controller_name}.js") %>
      <%= javascript_include_tag controller.controller_name %>
    <% end %>

    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id='header' class='ui-widget-header ui-corner-all'>
      <h1 id='logo'>S&aacute;dhana</h1>

      <div id='menu'>
        <% if user_signed_in? %>
          <ul class= 'menu'>
            <li><%= link_to t('menu.my_practices'), practices_path %></li>
            <li><%= link_to t('menu.calendar'), practice_events_path %></li>
          </ul>
        <% end %>
      </div>

      <div id="user_nav">
        <p>
          <% if user_signed_in? %>
            <%= t('menu.signed_in_as', :email => link_to_function(current_user.email, "$('#edit_profile_dialog').dialog('open');")) %>
            <%= link_to t('menu.sign_out'), destroy_user_session_path %>
          <% else %>
            <%= link_to_function t('menu.sign_up'), "$('#sign_up_dialog').dialog('open');" %> or
            <%= link_to_function t('menu.sign_in'), "$('#sign_in_dialog').dialog('open');" %>
          <% end %>
        </p>
      </div>
    </div>

    <div id='content'>
      <% if notice %>
        <div class='notice ui-state-highlight ui-corner-all'>
          <p>
            <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
            <%= notice %>
          </p>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert ui-state-error ui-corner-all">
          <p>
            <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
            <%= alert %>
          </p>
        </div>
      <% end %>
      <% if user_signed_in? && !current_user.subscription.free? && current_user.subscription.days_remaining > 0 && current_user.subscription.days_remaining < 7 %>
        <div class="notice ui-state-error ui-corner-all">
          <p>
            <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
            <%= t('application.account_due', :days => current_user.subscription.days_remaining) %>
          </p>
        </div>
      <% end %>
      <% if user_signed_in? && !current_user.subscription.free? && current_user.subscription.past_due? %>
        <div class="alert ui-state-error ui-corner-all">
          <p>
            <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
            <%= t('application.account_past_due', :days => current_user.subscription.grace_days_remaining) %>
          </p>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_xclick">
            <input type="hidden" name="business" value="perichon@gmail.com">
            <input type="hidden" name="lc" value="AR">
            <input type="hidden" name="item_name" value="Sadhana Monthly Fee">
            <input type="hidden" name="amount" value="<%= current_user.subscription.balance.format(:symbol => nil) %>">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="button_subtype" value="services">
            <input type="hidden" name="bn" value="PP-BuyNowBF:btn_paynowCC_LG.gif:NonHostedGuest">
            <input type="image" src="<%= t('application.pay_now_url') %>" border="0" name="submit">
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <%= render :partial => 'shared/sign_in_dialog' %>
    <%= render :partial => 'shared/sign_up_dialog' %>
    <%= render :partial => 'shared/new_confirmation_dialog' %>
    <%= render :partial => 'shared/forgot_password_dialog' %>
    <% if user_signed_in? %>
      <%= render :partial => 'shared/edit_profile_dialog' %>
    <% end %>

    <%= javascript_tag do %>
      Cufon.now();
    <% end %>
  </body>
</html>
