<!DOCTYPE html>
<html>
  <head>
    <title>S&aacute;dhana</title>

    <%= stylesheet_link_tag 'ui-lightness/jquery-ui-1.8rc3.custom' %>
    <%= stylesheet_link_tag 'ui.selectmenu' %>
    <%= stylesheet_link_tag 'awesome' %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'fullcalendar' %>
    <% if File.exist? File.join(Rails.public_path, "stylesheets/#{controller.controller_name}.css") %>
      <%= stylesheet_link_tag controller.controller_name %>
    <% end %>
    <%= stylesheet_link_tag 'jquery.tweet' %>

    <%= javascript_include_tag 'jquery-1.4.2.min' %>
    <%= javascript_include_tag 'jquery.rails' %>
    <%= javascript_include_tag 'jquery-ui-1.8rc3.custom.min' %>
    <% if false %>
      <%= javascript_include_tag 'jquery.ui.datepicker-es' %>
      <%= javascript_tag do %>
        $.datepicker.regional['es']
      <% end %>
    <% end %>
    <%= javascript_include_tag 'ui.selectmenu' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'jquery.jeditable' %>
    <%= javascript_include_tag 'jquery.cycle' %>
    <%= javascript_include_tag 'jquery.countdown' %>
    <%= javascript_include_tag 'jquery.jplayer.min' %>
    <%= javascript_include_tag 'fullcalendar' %>
    <%= javascript_include_tag 'timepicker' %>
    <%= javascript_include_tag 'jquery.quicksearch' %>
    <%= javascript_include_tag 'jquery.tweet' %>
    <%= javascript_include_tag 'jquery.jstore-all-min' %>

    <% if File.exist? File.join(Rails.public_path, "javascripts/#{controller.controller_name}.js") %>
      <%= javascript_include_tag controller.controller_name %>
    <% end %>

    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id='header' class='ui-widget-header ui-corner-all'>
      <a href="/"><h1 id='logo'>S&aacute;dhana</h1></a>
      <div id="welcome">
        <% if user_signed_in? %>
          <%= t('menu.signed_in_as', :email => current_user.email) %>
        <% else %>
          <div id="welcome_spacer"></div>
        <% end %>
      </div>

      <div id="locale">
        <% unless user_signed_in? %>
          <%= select :user, :locale, I18n.backend.available_locales.collect {|l| [I18n.t('this_file_language', :locale => l), l.to_s]}, {:selected => I18n.locale.to_s} %>
          <%= javascript_tag do %>
            $('#user_locale').selectmenu({width: 100});
            if(!$.browser.mozilla) {
              $('.ui-selectmenu').height(29);
              $('.ui-selectmenu-status').css('line-height', '1.5em');
            }
            $('#user_locale').bind('change', function() { window.location = window.location.pathname + "?locale=" + $('#user_locale').val();});
          <% end %>
        <% end %>
      </div>

      <div id='menu'>
        <% if user_signed_in? %>
          <%= link_to t('menu.my_practices'), practices_path %>
          <%= link_to t('menu.contacts'), contacts_path %>
          <%= link_to t('menu.calendar'), practice_events_path %>
          <%= link_to_function(t('menu.profile'), "$('#edit_profile_dialog').dialog('open');") %>
        <% end %>

        <% if user_signed_in? %>
          <%= link_to t('menu.sign_out'), destroy_user_session_path %>
        <% else %>
          <%= link_to_function(t('menu.credits'), "$('#credits_dialog').dialog('open');") %>
          <%= link_to_function(t('menu.sign_up'), "$('#sign_up_dialog').dialog('open');") %>
          <%= link_to_function(t('menu.sign_in'), "$('#sign_in_dialog').dialog('open');") %>
        <% end %>
      </div>

      <%= javascript_tag do %>
         $('#menu a').button();
      <% end %>
    </div>

    <div id='content'>
      <%= render :partial => 'shared/notifications' %>
      <%= yield %>
    </div>

    <%= render :partial => 'shared/credits_dialog' %>
    <%= render :partial => 'shared/sign_in_dialog' %>
    <%= render :partial => 'shared/sign_up_dialog' %>
    <%= render :partial => 'shared/new_confirmation_dialog' %>
    <%= render :partial => 'shared/forgot_password_dialog' %>
    <% if user_signed_in? %>
      <%= render :partial => 'shared/edit_profile_dialog' %>
      <%= render :partial => 'shared/plans_dialog' %>
    <% end %>
    <div id="jpId"></div>
  </body>
</html>
