<h2><%= t('devise.registrations.edit.title', :resource_name => Object.const_get(resource_name.to_s.capitalize).human_name) %></h2>

<%= form_for(resource_name, resource, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :email %><br/>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
    <%= f.password_field :password, :autocomplete => 'off' %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, :autocomplete => 'off' %>
  </div>
  <div class='field'>
    <%= f.label :locale %><br/>
    <%= select :user, :locale, I18n.backend.available_locales.collect {|l| [I18n.t('this_file_language', :locale => l), l]} %>
  </div>
  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br/>
    <%= f.password_field :current_password, :autocomplete => 'off' %>
  </div>
  <p><%= f.submit "Update", :class => 'medium awsome blue' %></p>
<% end %>